html, body {
}

body {
	font-family: Ubuntu;
	color: #2B2B2B;
  background:rgb(244, 242, 243);
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
	color:#692630;
  font-weight: lighter;
  margin-bottom:20px;
}


ul {
  list-style-type:none;
  padding-left:0px;
}

a {
  color:#E06606;
  cursor:pointer;
}

header {
  background-color: #380f14;
  height:150px;
  padding-top:30px;
  position:relative;
  z-index:10;
}

.lpi-layer-container {
  position:absolute;
  width:472px;
  height:472px;
  right:0px;
  top:60px;
  z-index:-2;
  overflow:hidden;
}

.lpi-layer {
  position:relative;
  width:472px;
  height:472px;
  overflow:hidden;
}

.lpi-layer-image {
  background-image:url('../images/logo-lpi-big.png');
  background-repeat: no-repeat;
  background-position:0px 0px;
  width:472px;
  height:472px;
  z-index:-1;
  left:100px;
  position:absolute;
  opacity:0.3;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  transition:all 1s;
}

.lpi-layer-active {
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1.2s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name:             rotate; 
  -moz-animation-duration:         1.2s; 
  -moz-animation-iteration-count:  infinite;
  -moz-animation-timing-function: linear;

  animation-name:             rotate; 
  animation-duration:         1.2s; 
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  z-index:10;
  padding:20px 0px 0px;
}

.prtn-container {
  display:block;
  width:1000px;
  margin:0px auto;
}


.navbar-lpi {
  position:absolute;
  bottom:-30px; 
  height:40px;
  padding:0px ;
  width:100%;

}

.navbar-lpi-inner {
  width:1000px;
  margin:0px auto;
  position:relative;
}

.toolbar-button {
  padding:4px 8px;
  border-radius:5px;
  color:#fff;
  font-size:16px;
  font-weight:bold;
}

.toolbar-button:focus,
.toolbar-button:hover {
  text-decoration: none;
  color:#fff;
}

.partner-button {
  
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

.login-button {
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
  background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.navbar-nav {
  width:1000px;
  float:auto !important;
  margin:0px auto;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.navbar-nav .active {
  position:relative;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(244, 242, 243));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar-nav li {
  margin:0px 5px;
  transition:all 0.5s;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
}

.navbar-nav a {
  color: rgb(219, 217, 217);;
  font-weight: bold;
  text-transform: uppercase;
  padding:10px !important;
  text-shadow: 1px 1px 0px #24090D;
}

.navbar-nav a:hover {
  color:#fff;
  background: transparent !important; 
}


.navbar-nav .active a {
  color: rgb(116, 31, 42);
  font-weight: normal: ;
  text-shadow: none;

}

.topbar {
  position:absolute;
  width:100%;
  top:-117px;
  margin:0px 0px 0px 0px !important;  
  margin:0px auto;
}

.topbar-wrap {
  width:1000px;
  margin:0px auto;
  position:relative;
}

.socialbar {
  float:left;
  width:150px;
  padding:0px;
}

.socialbar ul {
  margin:10px 0px 0px -25px;
}

.socialbar li {
  float:left;
  opacity:1;
}

.social-btn {
  display:block;
  background-size:20px 20px;
  float:left;
  width:20px;
  height:20px;
  color:#fff;
  margin-right:8px;
}

.twitter-btn {
  background-image:url('../images/glyph_twitter.png');
}
.facebook-btn {
  background-image:url('../images/glyph_facebook.png');
}

.account-controls {
  float:right;
  min-height:0px;
}

.account-controls ul li{
  float:left;
  margin-left:15px;
}

.header-container {
  background:#681c26;
  border-top: 1px solid #601a23
  text-align:center;
  height:120px;
  background-image: linear-gradient(#441219 20%,#641b24);
  border-bottom: 4px solid #4c141b;
  width:100%;
  text-align:center;
  position:relative;
}

.header-container img {
  width:300px;
  margin:-20px auto 0px;
}

.joinus-image {
  position:absolute;
  right:100px;
  top:40px;
}

.joinus-image img {
  width:100px;
}

.contact-logo {
  max-width: 200px;
}

footer {
  background-color: rgb(50, 44, 47);
  height:125px;
  padding-top:20px;
  width:100%;
  font-size: 13px;
  position: relative;
  clear:both;

   position: absolute;  
       bottom: -100px;  
}

footer .copyright {
  color: rgb(153, 153, 153);
}

footer .legal_contact {
  width:100%;
  margin-top: 20px;
  font-size: 10px;
  color: #999;
  text-align: center;
}


footer .sitemap {
  float:right;
  margin-right:;
}

footer .sitemap li {
  border-right:1px dotted #999;
  float:left;
  padding:0px 15px;
}

footer .sitemap li:last-child {
  border-right:none;
}


footer .sitemap a {
  color: rgb(44, 198, 255);
  font-size: 13px;
}

footer .sitemap a:hover {
  color: #fff;
}




.prtn-page-container {
	position:relative;
  min-height:550px;
  padding-bottom: 70px;
}

.prtn-page {
	position:absolute;
  width:100%;
  opacity:0;
  top:-10000px;
  min-height:550px;
  -webkit-transition:opacity 0.5s;
  -moz-transition:opacity 0.5s;
  transition:opacity 0.5s;
}

.prtn-page-selected {
  opacity:1 !important;
  position:relative !important;
  top:0px;
}

.prtn-box-container {
  margin:20px 0px;
  min-height:300px;
}

.prtn-box {
	float:left;
	opacity:1;
  position:relative;
  margin-bottom:20px;
}
.prtn-box ul {
  padding-left:40px;

}


.prtn-box-1 {
  width:50%;
}


.prtn-box-2 {
  width:45%;
}


.prtn-box-3 {
  width:33%;
}

.animated {
	opacity:1;
}

.prtn-box-teachers {
  min-height:460px;
}

.prtn-box-services {
  min-height:1250px;
}

.prtn-box-services h3 {
  min-height:80px;
}


.prtn-box-academies {
  min-height:600px;
}

.prtn-box-training {
  min-height:600px;
}

.prtn-box-training h3 {
  min-height:60px;
}

.prtn-box-price {
  font-size:20px;
  font-weight:bold;
  text-align:center;
  margin:15px 0px 0px;
}

.prtn-box-taxes {
  font-size:13px;
  font-weight: lighter;
  text-align:center;
}

.prtn-box-button-cont {
  text-align:center;
  padding:0px 0px;
  position:absolute;
  bottom:30px;
  width:92%;
}


.prtn-box-req-list,
.prtn-box-bonus-list {
  list-style-type: circle;
}


.prtn-box-bonus-list li {
  font-weight:bold;
}


.prtn-box-inner {
  left:0px;
	background:#fff;
	margin:0px auto;
	padding:15px;
  position:relative;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0 1px 6px 0 #c2c2c2;
}

.prtn-box-inner {
}

.prtn-box h3 {
  font-weight:lighter;
  text-align:center;
}

table {
  left:0px;
  background:#fff;
  margin:0px auto;
  padding:15px;
  position:relative;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  box-shadow:0 1px 6px 0 #c2c2c2;
}

.prtn-box-icon {
  text-align:center;
}

.prtn-box-icon img {
  width:75%;
}


.prtn-atp .prtn-box-icon img {
  width:50%;
}

.prtn-aap h3 {
  font-size:20px;
}

.prtn-aap .prtn-box-desc p {
  height:170px;
}

.prtn-box-icon-training {
   background-image: url(../images/academic.png);
   background-size:40% auto;
}

.prtn-box-icon-companies {
   background-image: url(../images/career.png);
}

.prtn-box-icon-partner {
   background-image: url(../images/communities.png);
}

.prtn-box-desc {
  font-weight: 100;
  padding:15px 0px;
  line-height:20px;
}

.prtn-box-desc p {
  min-height:110px;
}


.joinus-box-container .prtn-box-inner {
  min-height:321px;
  position:relative;
}

.joinus-box-container .prtn-box-button-offers {
  position:absolute;
  width:100%;
  bottom:-10px;
}

.prtn-box-index .prtn-box-desc {
  min-height:200px;
}

.prtn-box-button {
  padding:30px 0px 15px;
  display:block;
}

.prtn-details-box {
  background-image: linear-gradient(#441219 20%,#641b24);
  box-shadow:0 1px 6px 0 #c2c2c2;
  height:250px;
  border-radius:5px;
  position:relative;
  z-index:20;
  padding:20px;
  color:#fff;

}
.prtn-details-box h3 {
   color:#fff;
}

.prtn-details-indicator {
  background-color:#441219;
  height:50px;
  width:50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  position:absolute;
  top:-20px;
  z-index:1;

}

.training_details .prtn-details-indicator {
  left:130px;

}
.companies_details .prtn-details-indicator {
  right:160px;
}


.input-group {
  margin:10px 0px;
}

.prtn-page-sidebar {
  float:left;
  width:210px;
  background-image:url('../images/bg-aside.png');
  background-repeat:repeat-y;
  background-position: 100% 0px;
  padding:15px 0px;
}


.prtn-page-inner {
  width:1000px;
  margin:20px auto;
}

.prtn-page-sidebar ul li {
  height:40px;
  padding:8px 20px;
  position:relative;
}

.prtn-page-sidebar ul li.active {
  background-image:url('../images/bg-aside-nav-sprite.png');
  color:#fff;
}

.prtn-page-sidebar ul li> span {
  display:none;
}

.prtn-page-sidebar ul li.active > a {
  color:#fff;
}

.prtn-page-sidebar ul li.active > span {
  display:block;
  position:absolute;
  width:22px;
  height:40px ;
  background-image:url('../images/bg-aside-nav-sprite.png');
  background-position: 100% 0px;
  z-index:100;
  right:-22px;
  top:0px ;
}

.prtn-page-content {
  padding:0px 20px 30px 280px;
}


.button {
  background-clip: padding-box;
  border-radius: 5px;
  background-color: rgb(116, 31, 42);
  background-image: linear-gradient(rgb(156, 42, 57), rgb(96, 26, 35));
  border: 1px solid rgb(96, 26, 35);
  box-shadow: 1px 1px 0px 0px rgb(15, 4, 6), 1px 1px 3px 0px rgb(76, 20, 27), 0px 1px 0px 0px rgb(176, 47, 64) inset;
  color: rgb(243, 210, 214);
  font-weight: bold;
  padding: 0.5em 0.8em;
  overflow: visible;
  position: relative;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(56, 15, 20);
  text-transform: uppercase;
  width: auto;
}

h1 .button {
  font-size:15px;
}

.button:focus,
.button:hover {
  color:#fff;
  text-decoration: none;
}


.button-disable {
  border: 1px solid rgb(96, 96, 96);
  text-shadow: 0px 1px 0px rgb(56, 56, 56);
  color: rgb(210, 210, 210);
  box-shadow: 0px 1px 0px 0px rgb(100, 100, 100) inset;
  background-image: linear-gradient(rgb(156, 156, 156), rgb(75, 66, 75));
}

.button-disable:hover {
  color: rgb(210, 210, 210);
  text-decoration: none;
}

.input-group-addon {
  width:140px;
  vertical-align:top;
  text-align:left;
  color:#fff;
  background-color: rgb(116, 31, 42);
  background-image: linear-gradient(rgb(156, 42, 57), rgb(96, 26, 35));
}

.input-group {
  width:100%;
}

.section-info {
  margin-bottom:30px;
}

.section-label {
}

.section-label > div {
  position: relative;
  background-image:url('../images/bg-aside-nav-sprite.png');
  width:100%;
  height:40px;
  z-index:100;
  color:#fff;
  padding:8px 0px 0px 20px;
}

.section-label > div > span {
  position:absolute;
  width:22px;
  height:40px ;
  background-image:url('../images/bg-aside-nav-sprite.png');
  background-position: 100% 0px;
  z-index:100;
  right:-22px;
  top:0px ;
}

.section-container {
  background:#fff;
  margin:0px 0px 0px -10px;
  padding:15px 15px 15px 30px;
  position:relative;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  box-shadow:0 1px 6px 0 #c2c2c2;
}

.box-section {
  background:#fff;
  margin:0px 0px 0px 0px;
  padding:15px 15px 15px 30px;
  position:relative;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  box-shadow:0 1px 6px 0 #c2c2c2;
  width:100%;
  margin-bottom:30px;
}

.person-data {
  margin-left: 20px;
}

.logo-section {
  text-align:center;
}

.lpi-partnership-logo {
  margin:30px 0px;
  max-width:200px;
}
.info-social-buttons {
  font-size:30px;
}

.info-social-buttons li {
  float:left;
  margin:20px 0px 0px 10px;
}

.info-social-buttons a {
  color:rgb(102, 102, 102);
}

.info-social-buttons a:hover {
  color:#692630;
  text-decoration:none;
}

.info-tag-list  li {
  font-size:17px;
  float:left;
  margin-right:10px;

}

.info-map-marker {
  font-size:25px;
  color:#FA8100;
}

.info-map {
  background-color: gray;
  width:200px;
  height:170px; 
}

.lpic-icon {
  border-radius:100%;
  background-color:gray;
  height:80px;
  width:80px;
  font-size:18px;
  margin:0px auto;
  text-align:center;
  color:#fff;
  font-weight: bold;
  padding-top:27px;
}

.reference-section,
.teacher-section,
.map-section {
  padding-top:10px;
}

blockquote.reference-content {
  font-style:italic;
  border-left: none;
}

blockquote.reference-content p {
  padding:0px 30px;
}

blockquote.reference-content cite {
  color: #999999;
  font-style:normal;
  font-size: 14px;
  display: block;
  text-align:right;
  margin: 5px 45px 0px 0px;
}

blockquote.reference-content cite:before {
content: "\2014 \2009";
}

.reference-author {
  text-align:right;
  padding-right:40px;
}

address.small {
  font-size:12px;
  color:rgb(130,130,130);
}


.avatar-container {
  background:#fff;
  text-align:center;
  height:100px;
  width:100%;
  padding-top:20px;
}

.avatar-box img {
  width:100%;
  height:auto;
}

.edit {
    display: none;    
}

.editing .edit {
    display: block;    
}

.editing .view {
    display: none;
}

.profile-page h1.editable:hover {
  background:red;
}

.isotope .item {
  width:30%;
  height: 100px;
  background:#fff;
  float:left;
  margin:10px 5px;
}

.list-filters {

}

.list-filters ul li {
  cursor:pointer !important;
}

.list-filters ul li:hover {
  text-decoration: underline;
}


.list-filters ul li.active {
  font-size:20px;
  font-weight:bold;
}


.list-logo-container {
  height:150px;
  overflow:hidden;
}

.list-logo {
  width:100%;
}

.list-info {
  padding:10px 15px;
}

.list-icons {
  text-align:center;
  cursor:pointer;
}

.list-icon-count {
  font-size:23px;
  padding:5px 0px 5px;
}

.list-icon-image {
  font-size:20px;
}


.no-padding {
  padding:0px !important;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(100, 100,100, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100,100,100,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100,100,100,.6);
}


.prtn-box-button-offers {
  padding:10px 0px 40px;
}

.tos-container {
  background: none repeat scroll 0% 0% #FFF;
  padding: 10px;
  font-family:serif;
  font-size:12px;
  height: 400px;
  overflow: auto;
  box-shadow: 0px 0px 10px #BBB inset;
}

.signup-form pre {
  background:#fff;
  border:none;
  font-family:serif;
  font-size:13px;
}

@media (max-width: 768px) {
  .navbar-nav {
    display:none;
  }

  .prtn-container {
    width:100%;
  }

  .navbar-lpi-inner {
    width:100%;
  }

  .navbar-nav {
    width:100%;
  }

  .topbar-wrap {
    width:100%;
  }

  .joinus-image {
    display:none;
  }
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}


.ribbon-wrapper-green {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: 15px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;

  position: relative;
  padding: 7px 0;
  left: 15px;
  top: 10px;
  width: 220px;
  background-color: #692630;
  font-weight:normal;
  border-radius:5px;
  margin:0px auto;
 
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}



.aap-joinus .prtn-box-inner {
  background-image:url('../lpi/lpi-aap-pro.png');
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 115% 145%;
}

.atp-joinus .prtn-box-inner {
  background-image:url('../lpi/lpi-atp-pro.png');
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 115% 145%;
}

.csp-joinus .prtn-box-inner {
  background-image:url('../lpi/lpi-csp.png');
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 115% 145%;
}

.ct-joinus .prtn-box-inner {
  background-image:url('../lpi/lpi-ct.png');
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: 115% 145%;
}

.alertify-log {
  background-color:#692630 !important;
}
