{% load static from staticfiles %}
<div class="prtn-page-sidebar"> 
  <ul data-bind='foreach: sections'>
    <li data-bind='visible: $parent.check_family(visible), 
                   css: { active: $parent.active_menu() == slug || 
                                  ($parent.active_menu() == "profile" && slug == "partnership")}'>
      <a data-bind='click: function() { $parent.redirect(slug); }, text: name'></a>
      <span></span>
    </li>
  </ul>
</div>

  
<div class='prtn-page-content' data-bind='visible: loading() == false || true'>
  <div data-bind='visible: active_section().length == 0'>
    <h1>
      Loading...
    </h1>
  </div>
<div data-bind='visible: active_section() == "partnership"'>
  <h1>
    Partnership
    <a data-bind='visible: false && check_family("aap,atp,csp")' class='button pull-right' href='#offers/test-center'>DIVENTA TEST CENTER</a>
  </h1>

  <div data-bind='visible: training().length > 0'>
    <h3>Azienda di formazione</h3>

    <table class='table'>
      <thead>
        <tr>
          <th>Prodotto</th>
          <th>Profilo</th>
          <th>Stato</th>
          <th>Scadenza</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind='foreach: training()'>
        <tr>
          <td data-bind='text: product.name'></td>
          <td>
            <a data-bind='text: company_name, click: function() {$parent.goto_profile($data); }'></a>
          </td>
          <td data-bind='text: $root.state_label(state)'>
          <td data-bind='text: due_date'> - </td>
          <td>
            <a data-bind="click: function() { $parent.selected_info(-1) }, 
                          visible:$parent.selected_info() == id "
               class='button'>X</a>

            <a data-bind="click: function() { $parent.open_instructions($data); }, 
                          visible: (state == 'incomplete' || state == 'approving') && !$parent.is_newbie() && $parent.selected_info() != id " 
               class='button'>Dettagli</a>

            <a data-bind="attr: {href: product.url}, visible: state == 'pending'" 
               class='button'>Attiva</a>

            <a data-bind="click: function() { $parent.goto_profile($data); }, visible: state == 'active'">
              <i class='glyphicon glyphicon-cog'></i></a>
          </td>
        </tr>
        <tr data-bind='visible: $parent.selected_info() == id || $parent.is_newbie()'>
          <td colspan=5 data-bind='template: {name: "profile-instructions", 
                                              data: $data}'> 
                                                                        
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-bind='visible: services().length > 0'>
    <h3>Azienda di servizi</h3>

    <table class='table'>
      <thead>
        <tr>
          <th>Prodotto</th>
          <th>Profilo</th>
          <th>Stato</th>
          <th>Scadenza</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind='foreach: services()'>
        <tr>
          <td data-bind='text: product.name'></td>
          <td>
            <a data-bind='text: company_name, click: function() {$parent.goto_profile($data) }'></a>
          </td>
          <td data-bind='text: state'></td>
          <td data-bind='text: due_date'> - </td>
          <td>
            <a data-bind="click: function() { $parent.open_instructions($data); }, 
                          visible: state == 'incomplete' || state == 'approving'" 
               class='button'>dettagli</a>

            <a data-bind="attr: {href: product.url}, visible: state == 'pending'" 
               class='button'>Attiva</a>
            <a data-bind="click: $parent.goto_profile, visible: state == 'active'">
              <i class='glyphicon glyphicon-cog'></i></a>
          </td>
        </tr>
        <tr data-bind='visible: $parent.selected_info() == id || $parent.is_newbie()'>
          <td colspan=5 data-bind='template: {name: "profile-instructions", 
                                              data: $data}'> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-bind='visible: academic().length > 0'>
    <h3>Scuole e Universit&agrave;</h3>

    <table class='table'>
      <thead>
        <tr>
          <th>Prodotto</th>
          <th>Profilo</th>
          <th>Stato</th>
          <th>Scadenza</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind='foreach: academic()'>
        <tr>
          <td data-bind='text: product.name'></td>
          <td>
            <a data-bind='text: company_name, click: function() {$parent.goto_profile($data) }'></a>
          </td>
          <td data-bind='text: state'>
          <td data-bind='text: due_date'> - </td>
          <td>
            <a data-bind="click: function() { $parent.open_instructions($data); }, 
                          visible: state == 'incomplete' || state == 'approving'" 
               class='button'>dettagli</a>

            <a data-bind="attr: {href: product.url}, visible: state == 'pending'" 
               class='button'>Attiva</a>

            <a data-bind="click: $parent.goto_profile, visible: state == 'active'">
              <i class='glyphicon glyphicon-cog'></i></a>
          </td>
        </tr>
        <tr data-bind='visible: $parent.selected_info() == id  || $parent.is_newbie()'>
          <td colspan=5 data-bind='template: {name: "profile-instructions", 
                                    data: $data}'> 
          
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-bind='visible: certified_teachers().length > 0'>
    <h3>Docente Certificato</h3>

    <table class='table'>
      <thead>
        <tr>
          <th>Prodotto</th>
          <th>Profilo</th>
          <th>Stato</th>
          <th>Scadenza</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind='foreach: certified_teachers()'>
        <tr>
          <td data-bind='text: product.name'></td>
          <td>
            <a data-bind='text: company_name, click: function() {$parent.goto_profile($data) }'></a>
          </td>
          <td data-bind='text: state'>
          <td data-bind='text: due_date'> - </td>
          <td>
            <a data-bind="click: function() { $parent.open_instructions($data); }, 
                          visible: state == 'incomplete' || state == 'approving'" 
               class='button'>dettagli</a>

            <a data-bind="attr: {href: product.url}, visible: state == 'pending'" 
               class='button'>Attiva</a>

            <a data-bind="click: $parent.goto_profile, visible: state == 'active'">
              <i class='glyphicon glyphicon-cog'></i></a>
          </td>
        </tr>
        <tr data-bind='visible: $parent.selected_info() == id  || $parent.is_newbie()'>
          <td colspan=5 data-bind='template: {name: "profile-instructions", 
                                    data: $data}'> 
          
          </td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div data-bind='visible: active_section() == "profile"'>
  <h1>
    <small data-bind='visible: selected_profile() != false' class='pull-right'>
      <a href='#account/partnership'>Visualizza tutti i profili</a>
    </small>
    Profilo: 
    <span data-bind='text: selected_profile()!=false?profiles.company.first_name():""'></span>
    
  </h1>
  <div data-bind='visible: selected_profile() == false'>
    <ul data-bind='foreach: services()'>
      <li>
        <a data-bind='text: "("+product.name+") " + company_name, click: $parent.goto_profile'></a>
      </li>
    </ul>
    
    <ul data-bind='foreach: training()'>
      <li>
        <a data-bind='text: "("+product.name+") " + company_name, click: $parent.goto_profile'></a>
      </li>
    </ul>
    <ul data-bind='foreach: academic()'>
      <li>
        <a data-bind='text: "("+product.name+") " + company_name, click: $parent.goto_profile'></a>
      </li>
    </ul>
    

  </div>
  <div data-bind='visible: selected_profile() != false'>
    <div data-bind='text:'></div>
    <section class="row box-section">
        <div data-bind='' class='col-sm-4 pull-right'>
            <h3>Logo</h3>
            <div class='avatar-container'>

              <div class="row avatar-box">
                <img src='{% static "images/logo-moc.jpg" %}'
                    data-bind='visible: profiles.company.image_url().length == 0'>
                <img src='{% static "images/logo-moc.jpg" %}'
                    data-bind='visible: profiles.company.image_url().length != 0,
                               attr: {src: profiles.company.image_url}'>
              </div>
              <hr>
              <div class='row' style='padding:0px 10%'>
                <form style=''>
                  {% csrf_token %}
                  <input type='hidden' name='contact_id' data-bind='value: profiles.company.id'>
                  <input id='fileupload' type="file" name="avatar" data-url="avatar_upload/" >
                </form>
                </div>

            </div>
          </div>
        <div data-bind='' class='col-sm-8'>
          <h3>Informazioni generali</h3>
          
          <form class='fixed-headers'>
            
            <div class="input-group">
              <span class="input-group-addon">
                Nome
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.first_name'
                     placeholder='Nome azienda'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Descrizione
              </span>
              <textarea class='form-control' style='height:100px' 
                        data-bind='value: profiles.company.background'
                        placeholder='Descrizione'></textarea>
            </div>

                      <div class="input-group">
              <span class="input-group-addon">
                Website
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.website'
                     placeholder='Website'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Facebook
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.facebook'
                     placeholder='Facebook'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Twitter
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.twitter'
                     placeholder='Twitter'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Google+
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.googleplus'
                     placeholder='Google+'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Telefono
              </span>
              <input type='text' class='form-control'
                     data-bind='value: profiles.company.phone'
                     placeholder='Telefono'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Email
              </span>
              <input type='text' class='form-control'
                     data-bind='value: profiles.company.email'
                     placeholder='Email'>
            </div>


            <h3>Dati di fatturazione</h3>
            
            <div data-bind='visible:current_step.billing() == 0'
                 class='alert alert-danger'>
              I dati di fatturazione sono obbligatori.
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Partita IVA
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.piva'
                     placeholder='Partita IVA'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Indirizzo
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.street'
                     placeholder='Indirizzo di fatturazione'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Citt&agrave;
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.city'
                     placeholder='Citt&agrave; di fatturazione'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                CAP
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.postcode'
                     placeholder='Indirizzo di fatturazione'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Paese
              </span>
              <input type='text' class='form-control' 
                     data-bind='value: profiles.company.country'
                     placeholder='Paese di fatturazione'>
            </div>


            
          </form>
            <a data-bind='click: function() { submit_profile("company"); }' 
               class='button pull-right'>Salva</a>  
            <a data-bind='click: function() { abort_edit_profile(); }'>Annulla</a>
          </div>

        </div>


        <section class="row box-section" data-bind='visible:check_family("aap,atp,sp")'>
          <div data-bind='' class='col-sm-6'>
            <form class='fixed-headers'>
              <h3>Tag competenze</h3>

              <select id='tag_select' style='height:30px' multiple class='chosen-select'>
                <option value='apache'>Apache</option>
                <option value='python'>Python</option>
                <option value='mysql'>Mysql</option>
                <option value='javascript'>Javascript</option>
              </select>

            </form>
          </div>
        </section>

        

        <section class="row box-section" data-bind='visible:check_family("aap,atp,sp")'>
          <div data-bind='' class='col-sm-12'>
            <form class='fixed-headers' data-bind='with:profiles.incharge'>

              <h3>Responsabile</h3>
              <div data-bind='visible:  $root.current_step.incharge() == 0'
                 class='alert alert-danger'>
                I dati angrafici del responsabile sono obbligatori.
              </div>
              <div class='person-card'>
                <b data-bind='text: first_name() + " " + last_name(), visible: !$parent.edit.incharge()'></b>
              </div>

              <div data-bind='template: {name: "person-form", data: {profile: $parent.profiles.incharge, 
                                                                     parent:  $parent}},
                              visible: $parent.edit.incharge()'>
              </div>

              <a data-bind='click: function() { $parent.edit_profile("incharge") },
                            visible: !$parent.edit.incharge()'>
                  Modifica responsabile
              </a>
          </div>
          

        </section>

        <section class="row box-section" data-bind='visible:check_family("aap,atp,sp")'>
          <div data-bind='with:profiles.commercial' class='col-sm-12'>
              <h3>Referente</h3>
              <div data-bind='visible:$root.current_step.representative() == 0'
                 class='alert alert-danger'>
                I dati angrafici del referente sono obbligatori.
              </div>

              <div class='person-card'>
                <b data-bind='text: first_name() + " " + last_name(), visible: !$parent.edit.commercial()'></b>
              </div>

              <div data-bind='template: {name: "person-form", data: {profile: $parent.profiles.commercial, 
                                                                     parent:  $parent}},
                              visible: $parent.edit.commercial()'>
              </div>

              <a data-bind='click: function() { $parent.edit_profile("commercial") },
                            visible: !$parent.edit.commercial()'>
                  Modifica referente
              </a>

              
            </form>
          </div>
          <div data-mind='template: {name: "person-form", data: profiles.commercial},
                          visible: edit.commercial()' class='col-sm-6'>
          </div>
        </section>

      <section class="row box-section" data-bind='visible:check_family("aap,atp,sp")'>
        <div data-bind='' class='col-sm-12'>
          <h3>Sedi</h3>
              <div data-bind='visible:$root.current_step.location() == 0'
                 class='alert alert-danger'>
                E' necessario specificare almeno una sede.
              </div>
          <div data-bind='if:locations().length > 0 '>
            <div data-bind='foreach: locations(), visible: !edit.location()'>
              <div data-bind='if:$data'>
                <b data-bind='text:$data.first_name, click: function() {$parent.edit_location($data)}'></b>
              </div>
            </div>
          </div>

          <div class='location_content' data-bind='template:{name: "address-form", 
                                    data: {profile: edit_location_buffer, 
                                           parent:  $data} },
                              visible: edit.location()'>
          </div>
          <a data-bind='click: function() { new_location() },
                          visible: !edit.location()'>
                Aggiungi sede operativa
          </a>
          
        </div>


      </section>

      <section class="row box-section" data-bind='visible: check_family("aap,atp", [profile_family()])'>
        <div  class='col-sm-12'>
          <h3>Docenti</h3>
          <div data-bind='visible:$root.current_step.teachers() == 0'
                 class='alert alert-danger'>
                E' necessario specificare almeno un docente.
              </div>
          <div data-bind='foreach: teachers(), visible: !edit.teacher()'>
            <div data-bind='if:$data'>
              <b data-bind='text:$data.first_name() + " " + $data.last_name(),  
                            click: function() {$parent.edit_teacher($data)}'></b>
            </div>
          </div>

          <div data-bind='template:{name: "teacher-form", 
                                    data: {profile: edit_teacher_buffer, 
                                           parent:  $data} },
                              visible: edit.teacher()'>
          </div>
          <a data-bind='click: function() { new_teacher() },
                        visible: !edit.teacher()'>
                Aggiungi docente certificato
          </a>
          
        </div>
      </section>
        
    </section>

    
  </div>

  <div data-bind='visible: active_section() == "logos"'>
    <h1>Loghi LPI</h1>
    <section data-bind='foreach: active_logos()'>
      <img data-bind='attr: {src:  $data }'><br><br>
    </section>
  </div>

  <div data-bind='visible: active_section() == "account"'>
    <h1>Account</h1>
    <div class='row'>
        <h3>Cambio password</h3>
        <form class='fixed-headers'>
          <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">
                Vecchia password
              </span>
              <input type='password' class='form-control' 
                     data-bind='value: old_password'
                     placeholder='vecchia password'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Nuova password
              </span>
              <input type='password' class='form-control' 
                     data-bind='value: new_password'
                     placeholder='nuova password'>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                Conferma password
              </span>
              <input type='password' class='form-control' 
                     data-bind='value: new_password_conf'
                     placeholder='conferma password'>
            </div>

            <a data-bind='click: change_password' 
               class='button pull-right'>Salva</a>
          </div>
          <div class='col-sm-6'>
            <div class='alert alert-danger' 
                data-bind='text: pwd_error_message(), visible: pwd_error_message().length >0 '>
            </div>
          </div>
        </form>  
    </div>
  </div>

  <div data-bind='visible: active_section() == "billing"'>
    <div class='row'>
      <h1>Portale pagamenti</h1>
      <div class='col-sm-6' data-bind='visible: management_url() == false'>
        Il portale pagamenti sar&agrave; disponibile dopo aver effettuato il 
        primo addebito.
      </div>
      <div class='col-sm-6' data-bind='visible: management_url() != false'>
        Attraverso il nostro Portale Pagamenti &egrave; possibile visualizzare lo storico
        delle sottoscrizioni e modificare i propri dati di pagamento.
        <br><br>

        <a class='button' data-bind='attr: {href: management_url}' target="_blank">
          Accedi al Portale pagamenti
        </a>
      </div>
    </div>
  </div>

</div>



  <script type='text/html' id='person-form'>
    <div class="input-group">
      <span class="input-group-addon">
        Nome
      </span>
      <input type='text' class='form-control' data-bind='value: profile.first_name'
             placeholder='Nome'>
    </div>
     <div class="input-group">
      <span class="input-group-addon">
        Cognome
      </span>
      <input type='text' class='form-control' data-bind='value: profile.last_name'
             placeholder='Cognome'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        Telefono
      </span>
      <input type='text' class='form-control' data-bind='value: profile.phone'
             placeholder='Telefono'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        Email
      </span>
      <input type='text' class='form-control' data-bind='value: profile.email'
             placeholder='Email'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        Skype
      </span>
      <input type='text' class='form-control' data-bind='value: profile.skype_name'
             placeholder='Skype contact'>
    </div>

    <div>
      <a data-bind='click: function() { parent.submit_profile(profile.type); }' 
         class='button pull-right'>Salva</a>
      <a data-bind='click: function() { parent.abort_edit_profile(profile.type); }'>Annulla</a>
    </div>
  </script>


<script type='text/html' id='address-form'>
  <form class='fixed-headers'>
    <div class="input-group">
      <span class="input-group-addon">
        Nome
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_location_buffer.first_name'
             placeholder='Nome'>
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        Indirizzo
      </span>
      <input type='text' class='form-control address_picker' 
             data-bind='' 
             placeholder='Indirizzo'>
    </div>
    <div class='row'>
      <div class='address_details' style='display:none'>
      <input type='text' class='form-control'  name='formatted_address'
             placeholder='Indirizzo'>
      <input type='text' class='form-control' name='locality'
             placeholder='Citta'>
      <input type='text' class='form-control' name='postal_code'
             placeholder='CAP'>
      <input type='text' class='form-control' name='country'
             placeholder='Paese'>
           <input name="lat" type="text" value="">
          <input name="lng" type="text" value="">
          <input name="street_number" type="text" value="">
          <input name="route" type="text" value="">
      </div>
    </div>
    <div class='address_map_wrap'>
      <div class='address_map col-sm-6' style='height:350px; width:100%'></div>
    </div>

  </form>

  
  <a data-bind='click: function() { $parent.submit_location(); }' 
     class='button pull-right'>Salva</a>  
  <a data-bind='click: function() { $parent.abort_edit_location(); }'>Annulla</a>

</script>

<script type='text/html' id='teacher-form'>
  <form class='fixed-headers'>
    <div class="input-group">
      <span class="input-group-addon">
        Nome
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_teacher_buffer.first_name'
             placeholder='Nome'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        Cognome
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_teacher_buffer.last_name'
             placeholder='Cognome'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        LPIC ID
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_teacher_buffer.LPICID'
             placeholder='LPIC ID'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        LPIC Livello
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_teacher_buffer.LPICLevel'
             placeholder='Livello LPIC'>
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        LPIC Data
      </span>
      <input type='text' class='form-control' data-bind='value: $parent.edit_teacher_buffer.LPICDate'
             placeholder='Data LPIC'>
    </div>



  </form>
  <a data-bind='click: function() { $parent.submit_teacher(); }' 
     class='button pull-right'>Salva</a>  
  <a data-bind='click: function() { $parent.abort_edit_teacher(); }'>Annulla</a>

</script>

<script type='text/html' id='profile-instructions'>

  <div class='col-sm-12' data-bind='visible: state =="pending"'>
    <h2>Step 3 di 3</h2>
    <h3> Effettua il pagamento</h3>
    Ora &egrave; necessario cacare il lesso<br>
    <br>
    <a class='button' target="_blank"
       data-bind='attr: {href:product.url}'>
       ATTIVA ORA
    </a>
    <br><br>
  </div>
  <div class='col-sm-12' data-bind='visible: state =="approving"'>
    <h2>Step 2 di 3</h2>
    <h3>Spedizione contrato</h3>
    Ora &egrave; necessario scaricare il contratto, staparlo e inviarlo a:<br>
    <br>
    <a class='button' target="_blank"
       data-bind='attr: {href:"contract?type=" + product.handle + "&id=" + company}'>
       SCARICA IL CONTRATTO
    </a>
    <br><br>
  </div>
  <div class='col-sm-12' data-bind='visible:state =="incomplete"'>
    <h2>Step 1 di 3</h2>
    <h3>Completa il tuo profilo LPI</h3>
    <p>
      Per poter diventare partner LPI &egrave; necessario completare le informazioni
      del proprio profilo.<br>
      Queste sono le informazione che mancano:<br><br>
    </p>
    <div data-bind='visible: step.incharge == 0'>
      <h4>Responsabile</h4>
      <p>
        Il responsabile e' la persona a cui il contratto sara' intesta....
      </p>
    </div>

    <div data-bind='visible: step.representative ==0'>
      <h4>Referente</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.                   
      </p>
    </div>

    <div data-bind='visible: step.teachers == 0 && $root.check_family("aap,atp")'>
      <h4>Docente LPI</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. 
      </p>
    </div>

    <div data-bind='visible: step.location == 0'>
      <h4>Sede</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. 
      </p>
    </div>

    <div data-bind='visible: step.billing == 0'>
      <h4>Dati di fatturazione</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. 
      </p>
    </div>

    <div data-bind='visible: step.book == 0 && $root.check_family("aap,atp")'>
      <h4>Libro di testo</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. 
      </p>
    </div>
    
    <br>
    <a class='button push-right' 
       data-bind='click:function() {$root.goto_profile($data);}'>Completa il profilo</a>
    <br><br>
  </div>
</script>
