{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contratto LPI AAP</title>
  <style>
    body {
      font-family: "Helvetica", sans;
      font-size:15.5px;
    }

    .page {
      width:850px;
      
      margin:0px auto 50px;
      padding:0px 0px 100px;
      margin:0px 40px 0px 60px;
    }

    .col {
      width:47%;
      margin:0px 1.5%;
      float:left;
    }

    h1 {
      color:#692630;
      font-size:21px;
      margin:0px;
      padding:0px;
    }

    h2 {
      color:#692630;
      font-size:15px;
      margin:10px 0px 0px;
      padding:0px;
    }

    h3 {
      margin:0px;
      color:#692630;
      font-size:13px;
      padding:0px;
      margin-bottom:10px;
    }

    h5 {
      margin:0px;
      padding:0px;
      margin-bottom:10px;
    }

    ul {
      list-style-type:none;
      margin-left:30px;
    }

    li {
      padding:0px 0px 0px 30px;
      margin-bottom:0px;
      position:relative;
    }

    li span {
      position:absolute;
      margin-left:-40px;
    }

    p {
      margin:0px 0px 20px 10px;
      padding:0px;
    }
  </style>
</head>
<body> 

  <div class='page'>
    <table style='padding:0px;margin:0px;margin-bottom:20px'>
      <tr>
        <td style='width:20%'>
          <img src='/home/jacko/Projects/lpi-partner-program/partners/static/lpi/lpi-aap-pro.jpg' 
              width="200px">
        </td>
        <td style='vertical-align:top;padding:30px'>
    <h1>LPI APPROVED ACADEMIC PARTNER<br>
        (LPI ATP) AGREEMENT</h1>
        </td>
      </tr>
    </table>
    <p>
      This Agreement is made between <b>THE LINUX PROFESSIONAL
      INSTITUTE MASTER AFFILIATE (MA)</b> with its principal office located
      at LPI Italia, By Metassistant Srl, Piazza Savonarola 10. 50132, Florence, Italy
      AND The LPI Academic Partner <b>(THE PARTNER)</b>
      {{company.first_name}}. <br>
      
      With its principal office located at: {{company.street}} - {{company.city}} - {{company.country}}
    </p>

    <h2>RECITALS</h2>

    <p>
      <ul>
        <li>
          <span>A.</span>
          The Linux Professional Institute (“LPI”) is a producer of a professional
          certification for the Linux operating system, including LPI certification,
          sponsorship, and LPI Academic Partner Programs (LPI ATP) and desires to
          appoint “THE PARTNER” for the promotion of the LPI ATP initiative
          subject to the exclusions set forth in Section 16.
        </li>
        <li>
          <span>B.</span>
          LPI is a vendor-independent organization and does NOT maintain a
          particular method of test preparation.
        </li>
        <li>
          <span>C.</span>
          MA encourages publishers, schools and academic centers to work together
within their local community to promote choice, flexibility and innovation.
        </li>
        <li>
          <span>D.</span>
          In countries where there is no incorporated organization approved by LPI
to run a test preparation academic program, the program is run by LPI.
        </li>
        <li>
          <span>E.</span>
          PARTNER wishes to become an authorized academic partner of LPI and
participate in the authorized academic partner program (the “PROGRAM”).
        </li>
        <li>
          <span>F.</span>
          NOW, THEREFORE, in consideration of the foregoing, the mutual
          covenants and agreements contained herein and for other good and
          valuable consideration, the receipt and sufficiency of which are hereby
          acknowledged, it is agreed as follows:
        </li>

      </ul>
    </p>

    <h2>SECTION 1</h2>
    <h3>DURATION</h3>

    <p>
      The term of this Agreement shall be one (1) contract year, beginning on the date
this contract is signed (“Effective Date”), unless terminated earlier under Section
17 MODIFICATION AND TERMINATION. The contract year begins on the
Effective Date and runs twelve (12) months from that date. The annual renewal
fee will be invoiced on each anniversary date. In addition, on the annual
anniversary of this contract, the term will extend by an additional year unless
written notice is received by either party 60 days prior to the renewal date
indicating that the contract will not be extended by the additional year.
    </p>
    <h2 style='margin-top:30px'>SECTION 2</h2>
    <h3>USE OF TRAINING MATERIALS AND INSTRUCTORS</h3>
    <p>
      <ul>
        <li>
          <span>A.</span>
          The PARTNER will use LPI Certified Instructors (“LCI”) as defined in
SCHEDULE B regardless of modality (i.e. e-learning, website, classroom,
blended).
        </li>
        <li>
          <span>B.</span>
          Classroom or e-learning must be delivered by an LCI.
        </li>
        <li>
          <span>C.</span>
          The parties agree that the PARTNER will be allowed some flexibility in the
total number of LCIs based on the PARTNER’s size and market share.
The MA will decide the number of required LCIs.          
        </li>
      </ul>
    </p>
    
    <h2>SECTION 3</h2>
    <h3>ADHERENCE TO OPERATIONAL STANDARDS</h3>
    <p>
      The PARTNER shall adhere at all times to Operational Standards, per
SCHEDULE A.
    </p>

    <h2>SECTION 4</h2>
    <h3>PARTNER OBLIGATIONS AND DELIVERABLES</h3>
    <p>
      <ul>
        <li>
          <span>A.</span>
          Course Materials: The PARTNER shall provide information on the
PARTNER’s choice of course materials (see Exhibit C).
        </li>
        <li>
          <span>B.</span>
          Instructor Evaluations: The PARTNER shall provide the MA the necessary
administrative access to the PARTNER’s course and instructor
evaluations for the sake of quality assurance. These documents will
conform to the policies of the institution on privacy regulations and
administrative protocol.
        </li>
        <li>
          <span>C.</span>
          Facilities: The PARTNER must provide a general layout of the academic
classroom specifications that should include one computer per student.
MA reserves the right to perform a site inspection. If e-learning is offered,
the MA must approve the curriculum.
        </li>
        <li>
          <span>D.</span>
          The PARTNER and the MA must ensure students understand the LPI
exam process and availability.
        </li>
      </ul>
    </p>

    <h2>SECTION 5</h2>
    <h3>APPROVED STATUS OF MARKETING MATERIALS AND WEBSITE</h3>
    <p>
      The MA retains the right to approve the PARTNER’s marketing materials and
website.
    </p>

    <h2>SECTION 6</h2>
    <h3>TERRITORY</h3>
    <p>
      PARTNER is authorized to perform the duties of LPI ATP only in geographies
      assigned to MA through a separate agreement with LPI. The territory for the
      PARTNER is  {{company.city}} ({{company.country}}).
    </p>

    <h2 style='margin-top:30px'>SECTION 7</h2>
    <h3>LOGO AND TRADEMARK USAGE</h3>
    <p>
      <ul>
        <li>
          <span>A.</span>
          Subject to the provisions of this Agreement, MA grants to PARTNER a
non-exclusive, non-transferable license to use LPI's Approved Academic
PARTNER Logo (the "Trade Mark") and LPI ATP solely in connection with
the Program in the assigned TERRITORY only. The PARTNER does not
have any right to sublicense the Trademark and shall not seek registration
of the Trademark and LPI ATP in the PARTNER's name.
        </li>
        <li>
          <span>B.</span>
          Upon termination or expiration of this Agreement, the PARTNER will
immediately cease all use of the Trademark and will not directly or
indirectly at any time or in any manner make further use of or reference to
the Trademark or the LPI ATP in the conduct of its business or otherwise.
        </li>
        <li>
          <span>C.</span>
          This Agreement does not grant a license to any technology, trademarks,
logo's or intellectual property belonging to LPI to the partner other than as
described in this Agreement.
        </li>
      </ul>
    </p>

    <h2>SECTION 8</h2>
    <h3>MEMBERSHIP FEES</h3>
    <p>
      The PARTNER agrees to pay an annual fee of {{product.price}} &euro; for two academic
      locations. Additional locations may be added for a fee of 50 &euro; per location.
      This is a one year agreement and may be renewed with the consent of the MA
      for additional one year periods following the anniversary date of this agreement.
    </p>

    <h2>SECTION 9</h2>
    <h3>CHANGE OF PROGRAM REQUIREMENTS</h3>
    <p>
      The parties agree that LPI may change details of the Program at any time upon
      60 days written notice to the PARTNER's designated contact and posting to the
      LPI website. The PARTNER shall comply with the program guidelines including
      all portions therefore that are electronically posted at www.lpi.org.
    </p>

    <h2>SECTION 10</h2>
    <h3>NO FRANCHISE CREATED</h3>
    <p>
      The parties acknowledge and agree that execution of this Agreement and
participation in the Program does not create a franchise, joint venture, financial
partnership, or similar business relationship between MA and the PARTNER or
any other third party.
    </p>

    <h2>SECTION 11</h2>
    <h3>ADDITIONAL SUPPORT BY MA</h3>
    <p>
      The parties agree that MA shall not be obligated to provide any support for or to
the PARTNER other than as specified in this Agreement and SCHEDULE C.
    </p>

    <h2>SECTION 12</h2>
    <h3>ENTIRE AGREEMENT</h3>
    <p>
      This Agreement, including the Schedules and Exhibits attached hereto,
constitutes the entire agreement and supersedes all prior agreements of the
parties with respect to the transactions set forth herein and, except as otherwise
expressly provided herein, is not intended to confer upon any other person any
rights or remedies hereunder.
    </p>

    <h2>SECTION 13</h2>
    <h3>INDEMNIFICATION</h3>
    <p>
      <ul>
        <li>
          <span>A.</span>
          MA shall indemnify and hold harmless PARTNER and its officers,
directors, employees and agents against and in respect of any and all
claims, suits, actions, proceedings and investigations instituted by third
parties, as well as any judgments, damages, settlements, liabilities, and
legal and other expenses (including reasonable legal fees and expenses
of attorneys) as and when incurred, arising out of or based upon (a) any
misrepresentation or breach of the representations and warranties of MA
set forth in this Agreement, and (b) any non-compliance by MA with any
covenants or agreements of MA contained in or made pursuant to this
Agreement. PARTNER shall indemnify and hold harmless MA, its
affiliates, and their respective officers, directors, employees and agents,
against and in respect of any and all claims, suits, actions, proceedings
and investigations instituted by third parties, as well as any judgments,
damages, settlements, liabilities, and legal and other expenses (including
reasonable legal fees and expenses of attorneys) as and when incurred,
arising out of or based upon (a) any misrepresentation or breach of the
representations and warranties of PARTNER set forth in this Agreement,
and (b) any non-compliance by PARTNER with any covenants or
agreements of PARTNER contained in or made pursuant to this
Agreement.
        </li>
        <li>
          <span>B.</span>
          Upon the assertion of any claim or the commencement of any suit or
proceeding against an indemnified party by any third party that may give
rise to liability of an indemnifying party hereunder, the indemnified party
shall promptly notify the indemnifying party of the existence of such claim
and shall give the indemnifying party reasonable opportunity to defend
and/or settle the claim at its own expense and with counsel of its own
selection. The indemnified party shall cooperate with the indemnifying
party and shall at all times have the right to fully participate in, but not
control, such defense with its own counsel and at its own expense. The
indemnified party shall not make any settlement of any claims which might
give rise to liability of the indemnifying party hereunder without the prior
written consent of the indemnifying party .
        </li>
      </ul>
    </p>

    <h2 style='margin-top:70px'>SECTION 14</h2>
    <h3>COUNTERPARTS</h3>
    <p>
      This Agreement may be agreed to and executed in more than one counterpart,
each of which together shall form one and the same instrument. The parties
agree that execution may be achieved in any format convenient to the parties.
    </p>

    <h2>SECTION 15</h2>
    <h3>SEVERABILITY</h3>
    <p>
      The provisions of this Agreement are independent of and separable from each
other, and no provision shall be affected or rendered invalid or unenforceable by
virtue of the fact that for any reason any other or others of them may be invalid or
unenforceable in whole or in part.
    </p>

    <h2>SECTION 16</h2>
    <h3>GENERAL CONTRACT PROVISIONS</h3>
    <p>
      <ul>
        <li>
          <span>A.</span>
          Subject to the provisions of SECTION 17 hereof, no change or
modification of this Agreement shall be valid unless it be in writing and
signed by each party.
        </li>
        <li>
          <span>B.</span>
          The headings used in this Agreement are for convenience only and are
not to be considered a part of this Agreement and do not in any way limit
or amplify the terms and provisions of this Agreement.
        </li>
        <li>
          <span>C.</span>
          It is intended that all provisions of this Agreement shall be fully binding
and effective between the parties, but in the event that any particular
provision or provisions or a part of one is found to be void or
unenforceable for any reason, then the particular provision or provisions or
part of the provision shall be deemed severed from the remainder of this
Agreement and all other provisions shall remain in full force.
        </li>
        <li>
          <span>D.</span>
          This Agreement shall ensure to the benefit of and be binding on the
respective heirs, executors, administrators and permitted assigns of each
of the parties.
        </li>
        <li>
          <span>E.</span>
          This Agreement shall be governed by and construed in accordance with
the laws of CANADA. The parties submit themselves to the exclusive
jurisdiction of the courts of CANADA.
        </li>
        <li>
          <span>F.</span>
          This Agreement is subject to approval by LPI.
        </li>
        <li>
          <span>G.</span>
          This Agreement is not assignable by the MA or PARTNER without the
prior written consent of LPI. Any attempt to assign any of the rights, duties
or obligations of this Agreement without written consent is void. In the
event LPI terminates the relationship with the MA, this contract
immediately reverts to the control of LPI and LPI reserves the right to
assign this contract to other MA’s as appropriate.
        </li>
        <li>
          <span>H.</span>
          The failure on the part of either party to exercise or enforce any right
conferred upon it under this Agreement shall not be deemed to be a
waiver of any such right or operate to bar the exercise or enforcement
thereof at any time or times thereafter.
        </li>
        <li>
          <span>I.</span>
          Upon default by PARTNER under any terms of this Agreement, and at any
time after the default, MA shall have all rights and remedies provided by
law and by this Agreement. No single or partial exercise of a right or
remedy shall preclude any other or further exercise of them or the
exercise of any other right or remedy. Furthermore, MA may remedy any
default by PARTNER in any reasonable manner without waiving the
default remedied and without waiving any other prior or subsequent
default by PARTNER. All rights and remedies of MA granted or
recognized in this Agreement are cumulative and may be exercised at any
time and from time to time independently or in combination.
        </li>
        <li>
          <span>J.</span>
          If there is any conflict between terms and conditions of this Agreement
and the Program guidelines, the terms and conditions of the Program
guidelines shall prevail.
        </li>
      </ul>
    </p>

    <h2>SECTION 17</h2>
    <h3>TERMINATION AND MODIFICATIONS</h3>
    <p>
      Either party has the right to terminate this agreement with 60 days written notice
to the other party.
    </p>
    <p>
      All notices required or permitted to be given hereunder shall be in writing and
either hand-delivered, telecopied, mailed by certified first class mail, postage
prepaid, or sent via electronic mail to the other party or parties hereto at the
address(es) on page 1. A notice shall be deemed given when delivered
personally, when the telecopied notice is transmitted by the sender, three
business days after mailing by certified first class mail, or on the delivery date if
delivered by electronic mail.
    </p>
    <p>
      For MA: Daniele Cirio<br>
      Email: daniele.cirio@lpi-italia.org<br>
    </p>

    <p>
      FOR THE PARTNER: {{company.Incharge.first_name}} {{company.Incharge.last_name}}<br>
      Email: {{company.Incharge.email}}
    </p>
    <p>
      The parties have executed this agreement on the day and year written below.
    </p>

    <p>
      <table>
        <tr>
          <td style='width:50%'>
            <h5>Master Affiliate</h5>
            <br>_____________________________<br>
            <i>Signature</i><br>
            <br>_____________________________<br>
            <i>Printed Name of Signer and Title</i><br>
            <br>_____________________________<br>
            <i>Date</i><br>
          </td>

          <td style='width:50%'>
            <h5>PARTNER</h5>
            <br>_____________________________<br>
            <i>Signature</i><br>
            <br>_____________________________<br>
            <i>Printed Name of Signer and Title</i><br>
            <br>_____________________________<br>
            <i>Date</i><br>
          </td>
       </tr>
      </table>

      <div style='clear:both'></div>
    </p>

    <h2 style='margin-top:350px;text-align:center;font-style:italic'>SCHEDULE A</h2>
    <h3 style='text-align:center'>Operational Standards</h3>
    <p>
      LPI requires that the PARTNER commit to the same Linux community standards
that LPI itself strives to embody. To that end, we require that:
    </p>

    <ul>
      <li>
        <span>A.</span>
        The PARTNER will provide a learning program that is of merit, reflecting
the good intent, neutrality, and objective measures of the LPI certification
program in the Linux community.
      </li>
      <li>
        <span>B.</span>
        The PARTNER will develop, publish, and follow a clear road map for
linking their Linux courses to LPI certifications so that individuals can
readily plan their career development.
      </li>
      <li>
        <span>C.</span>
        The PARTNER will encourage hands-on and/or simulation practice as part
of their program.
      </li>
      <li>
        <span>D.</span>
        The PARTNER will employ instructors who know the subject matter and
have a demonstrated ability to teach.
      </li>
    </ul>

    <h2 style='margin-top:680px;text-align:center;font-style:italic'>SCHEDULE B</h2>
    <h3 style='text-align:center'>LCI REQUIREMENTS (LPI CERTIFIED INSTRUCTORS)</h3>

    <ul>
      <li>
        <span>A.</span>
        LCI’s must be certified for the level and specialty of exam they teach.
PARTNERs are to have instructors who are certified in Level 1 or Level 2
depending on what they teach.
      </li>
      <li>
        <span>B.</span>
        A minimum of one LCI must remain on staff of PARTNER.
      </li>
      <li>
        <span>C.</span>
        To confirm LCI qualifications, the following should be submitted to the
        MA:
        <ul>
          <li>a) Resume</li>
          <li>b) Copy of LPI Certificate</li>
          <li>c) Recommendation Letter from Academic Manager</li>
          <li>d) Proof of participation in an ongoing internal Train-the-Trainer
development program or industry program such as CTT (Certified
Technical Trainer)</li>
        </ul>
      </li>
      <li>
        <span>D.</span>
        LCI’s must have a thorough understanding of the LPI program and
procedure necessary to take LPI exams.
      </li>
      <li>
        <span>E.</span>
        LCI’s must agree to sign a Non-Disclosure Agreement.
      </li>
    </ul>

    <h2 style='margin-top:680px;text-align:center;font-style:italic'>SCHEDULE C</h2>
    <h3 style='text-align:center'>PROGRAM BENEFITS</h3>

    <p>PARTNER will receive:</p>
    <ul>
      <li><span>A.</span>
        Promotion on LPI website and inclusion in online academic center locator
(www.lpi.org/partner).
      </li>
      <li><span>B.</span>
        Assistance from MA in identifying sources for academic material options in
PARTNER geography
      </li>
      <li><span>C.</span>
        LPI supports open source initiatives through corporate presence at
LinuxWorld and other Open Source initiative where possible.
      </li>
      <li><span>D.</span>
        Promotion at events that LPI attends. Includes providing the contact
information of the Partner for customers in the Partner’s Territory.
      </li>
      <li><span>E.</span>
        MA provides sales and customer service support to include: Providing
input concerning where to purchase academic material. Assistance with
locating quality instructors that hold the LCI designation and expediting
academic partner feedback to the courseware vendors.
      </li>
      <li><span>F.</span>
        Marketing collateral to include one Academic Center Plaque, LPI penguin
and other materials as available.
      </li>
      <li><span>G.</span>
        As time and logistics permit, MA will be available for speaking
engagements to promote the PARTNER’s agenda.
      </li>
    </ul>

    <h2 style='margin-top:680px;text-align:center;font-style:italic'>Exhibit A</h2>
    <h3 style='text-align:center'>Contact information</h3>

    <style>
      .contact tr,td,th {
        padding:0px;
        margin:0px;
      }

      .contact th {
        text-align:left;
      }
    </style>
    
    <table class='contact'>
      <tr>
        <th>Contact Name:</th>
        <td>{{company.Commercial.first_name}} {{company.Commercial.last_name}}</td>
      </tr>
      <tr>
        <th>School:</th>
        <td>{{company.first_name}}</td>
      </tr>
      <tr>
        <th>Address:</th>
        <td>{{company.street}}</td>
      </tr>
      <tr>
        <th>City:</th>
        <td>{{company.city}}</td>
      </tr>
      <tr>
        <th>State:</th>
        <td>{{company.city}}</td>
      </tr>
      <tr>
        <th>Country:</th>
        <td>{{company.country}}</td>
      </tr>
      <tr>
        <th>Postal Code:</th>
        <td>{{company.postcode}}</td>
      </tr>
      <tr >
        <th style='padding-bottom:50px'></th>
        <td></td>
      </tr>
      <tr>
        <th>Phone Number:</th>
        <td>{{company.Commercial.phone}}</td>
      </tr>
      <tr>
        <th>Fax Number:</th>
        <td></td>
      </tr>
      <tr>
        <th>SKYPE ID:</th>
        <td>{{company.Commercial.skype_name}}</td>
      </tr>
      <tr >
        <th style='padding-bottom:50px'></th>
        <td></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>{{company.Commercial.email}}</td>
      </tr>
      <tr>
        <th>Website:</th>
        <td>{{company.website}}</td>
      </tr>
    </table>
    <h2 style='margin-top:680px;text-align:center;font-style:italic'>Exhibit B</h2>
    <h3 style='text-align:center'>Designation of LPI Certified Instructors</h3>


    <table class='teachers'>
      <tr>
        <th style='color:#692630'>NAME</th>
        <th style='color:#692630' style='width:20%'>LPI LEVEL</th>
        <th style='color:#692630'>LPIC ID</th>
        <th style='color:#692630' style='width:20%'>LPIC DATE</th>
        <th style='color:#692630'>CERTIFICATE ATTACHED</th>
      </tr>

      {% for teacher in company.Teacher %}

        <tr>
          <td>{{teacher.first_name}} {{teacher.last_name}}</td>
          <td>{{teacher.LPICLevel}}</td>
          <td>{{teacher.LPICID}}</td>
          <td>{{teacher.LPICDate}}</td>
          <td></td>
        </tr>

      {% endfor %}
    </table>


    <h2 style='margin-top:1080px;text-align:center;font-style:italic'>Exhibit C</h2>
    <h3 style='text-align:center'>Designation of LPI Certified Instructors</h3>

    <p>
      The courseware designated for use by Member under the terms of this<br>
      Agreement is:  ____________ <br>
      provided by ________________
    </p>

  </div>



  
</body>
</html>