<div class="row">
<section class='box-section'>
  <h1>Scegli la tua partnership</h1>
  <p>
 Se nel tuo lavoro Il Software Libero è un compagno irrinunciabile, aderisci subito ai nostri programmi di partnership, accresci la tua visibilità e dai fiducia ai tuoi futuri clienti.


  </p>

  <h3>Corsi Linux Certificati</h3>
  <p>
Con le nostre partnership dedicate alla formazione (ATP) potrai valorizzare i tuoi Corsi professionali ed introduttivi, dedicati ai privati o alle aziende, consolidando la tua posizione o diventando punto di riferimento per la tua zona.
  </p>

  <h3>Servizi e soluzioni</h3>
  <p>
Con le partnership dedicate alle aziende che offrono servizi e  soluzioni, (CSP) puoi valorizzare le tue competenze sulle più diffuse tecnologie FLOSS, facendoti trovare dalle persone giuste.
Dai visibilità alla tua organizzazione partecipando alla comunità di professionisti Linux più grande al mondo, iscriviti subito all'unico portale in Italia quotidianamente aggiornato e verificato.dedicato al Software Libero. 
  </p>
  </section>
  </div>

<div class="row joinus-box-container">
<br><br>
<ul class='row'>
    <li class='prtn-box col-sm-6 atp-joinus'>
      <div class='prtn-box-inner'>
        <h4>Approved Training Partner (LPI ATP)</h4>
        <p>
          Il Programma ATP (Approved Training Partner) incrementa la visibilità dei centri di formazione ed agenzie formative e la qualità dei loro percorsi formativi attraverso l’uso di materiale didattico selezionato, docenti certificati e l’adesione al 
          <a href='http://www.lpi.org/partnerships/training-partners'>codice etico LPI</a>.
        </p>
        <div class='prtn-box-button-offers'>
          <a class='button' href='#offers/training-company'>Offerta per agenzie formative</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-6 aap-joinus'>
      <div class='prtn-box-inner'>
        <h4>Approved Academic Partner (LPI AAP)</h4>
        <p>
          Se sei una scuola superiore o  un'Università e ti piacerebbe insegnare l'uso di GNU/Linux ai tuoi studenti puoi diventare nostro partner aderendo al programma AAP (Approved Academic Partner) dedicato alle strutture didattiche pubbliche.
          
          Grazie ai nostri programmi di supporto ti seguiremo lungo tutto il percorso, dalla formazione dei docenti al reperimento del materiale didattico, dal supporto tecnico allo svolgimento degli esami di certificazione presso la tua sede.
        </p>
        
        <div class='prtn-box-button-offers'>
          <a class='button'  href="#offers/training-academy">
            Offerta per le scuole e universit&agrave;
          </a>
        </div>
      </div>
    </li>
  </ul>
  <ul class='prtn-box-container row'>

    <li class='prtn-box col-sm-6 csp-joinus'>
      <div class='prtn-box-inner'>
        <h4>Certified Service Solutions (LPI CSP)</h4>
        <p>
          Il programma Csp e' dedicato alle aziende che offrono consulenza, servizi e soluzioni basati su tecnologie FLOSS.
          Incrementiamo la visibilità' dei tuoi servizi, evidenziamo le tue competenze specifiche, verifichiamo le tue referenze, promuoviamo il tuo core business attraverso la prima banca dati italiana, costantemente<br> aggiornata, dedicata al Software Libero.
        </p>
           <a href='http://nuovo.lpi-italia.org/faq/'>Domande frequenti</a>
        <div class='prtn-box-button-offers'>
           <a class='button' href='#offers/service-company'>
              Offerte per aziende</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-6 ct-joinus'>
      <div class='prtn-box-inner'>
        <h4>Certified Trainer (LPI CT)</h4>
        <p>
          Programma di Certificazione per Docenti Linux dedicato ai professionisti della formazione.
Il programma è rivolto a docenti esperti che insegnano come Amministrare sistemi GNU/Linux e che desiderano mostrare la loro esperienza mettendo le proprie competenze a disposizione del circuito dei partner LPI.
        </p>

        <div class='prtn-box-button-offers'>
          <a class='button'  href="#offers/personal-teacher">Offerta per docenti</a>
        </div>
      </div>
    </li>
  </ul>
  
  </div>
  
</div>

  <div style='clear:both'></div> <!-- end boxes -->
