<div class="row">
  <h1>Scegli la tua partnership</h1>
  <p>
 Partecipa ai nostri programmi di partnership, un modo per ottenere visibilit&agrave; e garantire le tue competenze. Attraverso le nostre partnership puoi fornire servizi professionali nel settore che più ti compete e garantire la qualità della tua formazione in aula. 
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner'>
        <h3>Corsi Linux Certificati</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-desc'>
        Certifica con LPI i tuoi corsi professionali per Amministratore di Sistema, garantisci qualit&agrave; ai tuoi studenti, renditi visibile attraverso il sito ufficiale del pi&uacute; importante ente di certificazione professionale in ambito Linux al mondo.

        <br><br>

        <h4>Approved Training Partner (LPI ATP)</h4>
        <p>
          Programma di Certificazione Corsi Linux dedicato dedicato ad aziende, agenzie formative, associazione, Pubbliche Amministrazioni, organizzazioni.
        </p>

        <div class='prtn-box-button-offers'>
          <a class='button' href='#offers/training-company'>Offerta per le aziende</a >
        </div>

        <h4>Approved Academic Partner (LPI AAP)</h4>
        <p>
          Programma di Certificazione Corsi Linux  dedicato dedicato a scuole ed universit&agrave;.
        </p>
        
        <div class='prtn-box-button-offers'>
          <a class='button'  href="#offers/training-academy">
            Offerta per le scuole e universit&agrave;
          </a>
        </div>

        <h4>Certified Trainer (LPI CT)</h4>
        <p>
          Programma  di Certificazione Corsi Linux dedicato dedicato ai professionisti.
        </p>

        <div class='prtn-box-button-offers'>
          <a class='button'  href="#offers/personal-teacher">Offerta per professionisti</a>
        </div>
       </div>
    </li>

    <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner'>
        <h3>Servizi e Soluzioni</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-desc'>
        Certifica la tua azienda con LPI, garantisci la qualità di Servizi e Soluzioni, contraddistinguiti dalla concorrenza mostrando le tue competenze ed i tuoi servizi attraverso il sito ufficiale del Linux Professional Institute.
        <br><br>

        <h4>Offerte per le societ&agrave; di servizi (LPI CSP)</h4>
        <p>
          Il programma di certificazione di Servizi e Soluzioni &egrave; dedicata ad aziende e professionisti. Con un controllo da parte del nostro staff e le recensioni dei tuoi clienti, puoi dimostrare la tua competenza, esperienza e professionalità a nuovi potenziali clienti.
        </p>
           <a href='http://nuovo.lpi-italia.org/faq/'>Domande frequenti</a>
        <br><br>
        <div class='prtn-box-button-offers'>
           <a class='button' href='#offers/service-company'>
              Offerta Servizi e Soluzioni per aziende</a>
        </div>
      </div>
    </li>
  </ul>
  
  </div>
  <div class='row'>
  <div data-bind='visible: details() == "training"' 
       class='training_details col-sm-10 col-sm-offset-1 prtn-details-box'>
       <div class='prtn-details-indicator'>
       </div>
       <h3>Offerte per la formazione</h3>
       <p class='col-sm-6'>
       Il programma per la formazione LPI si suddivide in ATP (Approved Training Partner) dedicato ad aziende, agenzie formative, associazione, Pubbliche Amministrazioni, organizzazioni e AAP (Approved Academic Partner) dedicato a scuole ed universit&agrave;.
       </p>

       <p class='col-sm-6 '>
          <a href='#offers/training-company'>Programma per le aziende</a ><br><br>

          <a href="#offers/training-academy">
            Programma per le scuole e universit&agrave;
          </a><br><br>

          <a href="#offers/personal-teacher">Programma per i professionisti</a>
       </p>


  </div>
  </div>

  <div class="row">

  <div data-bind='visible: details() == "companies"'
       class='companies_details col-sm-10 col-sm-offset-1 prtn-details-box '>
       <div class='prtn-details-indicator '>
       </div>
       <h3>Offerte per le societa' di servizi</h3>
       <p class='col-sm-6'>
       Il programma di certificazione di Servizi e Soluzioni &egrave; dedicata ad aziende e professionisti. Con un controllo da parte del nostro staff e le recensioni dei tuoi clienti, puoi dimostrare la tua competenza, esperienza e professionalità a nuovi potenziali clienti.
       </p>
       <p class='col-sm-6'>
           <a href='#offers/service-company'>vai all'offerta per le aziende</a><br /><br />
           <a href='http://nuovo.lpi-italia.org/faq/'>Domande frequenti</a><br /><br />

       </p>
  </div>
</div>

  <div style='clear:both'></div> <!-- end boxes -->