{% load static from staticfiles %}

<div data-bind='visible: type() == "service-company" && show'>
  <div class="row">
    <section class='box-section'>
      <h1>Servizi e Soluzioni</h1>
      <p>
      
Se sei un'azienda che sviluppa software, progetta infrastrutture di rete o un rivenditore di soluzioni IT basate su Free and Open Source software puoi partecipare ai programmi Certified Solution Provider del Linux Professional Institute.<br><br>

Con il programma CSP potrai ottenere una nuova visibilità, supportata dalla serietà del marchio di qualità LPI, rendendoti immediatamente riconoscibile dai potenziali clienti che potranno scegliere facilmente il loro prossimo partner, selezionando per competenze, company size e tipologia di clienti quotidianamente gestiti.
Ci occupiamo di mantenere la banca dati sempre aggiornata, e certifichiamo le referenze dei lavori che hai effettuato.<br><br>

Il "LPI Certified Solution Provider"è la scelta  giusta per tutte le aziende che operano nel business dell'ambiente Linux.
Non perdere l'occasione di entrare a far parte di una delle comunità dedicate al Business Linux più importanti al mondo. Registrati oggi stesso come partner di LPI.
      </p>
    </section>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services prtn-box-services-sp'>
        
        <div class="ribbon-wrapper-green"><div class="ribbon-green animated">Primo anno GRATUITO</div></div>
        
        <h3>Service Provider</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-sp.png" %}'>
        </div>
        <div class='prtn-box-price'>
          50 &euro;/anno
        </div>

        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>
        
        <div class='prtn-box-desc'>

        <p>
        Programma perfetto per tutte le aziende che lavorano con il Free Software, specializzate nei software più popolari.<br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI SP</li>
            <li>Profilo su LPI Italia Partner</li>
            <li>1 Location
              <small>(50&euro;/anno per ogni location aggiuntiva)</small></li>
            <li>5 Tag di indicizzazione competenze <br>
                <small>(10&euro;/anno per ogni competenza aggiuntiva)</small></li>
            <li>2 Referenze pubblicate<br>
             <small>(10&euro;/UT per ogni referenza aggiuntiva)</small></li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul  class='prtn-box-req-list'>
            <li>Riconoscersi nel 
              <a href='http://www.lpi.org/partnerships/training-partners' target='_blank'>Codice Etico</a>
            </li>
            <li>Offrire consulenza o soluzioni realizzate con Software Libero</li>
        </ul>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-sp" class="button">Aderisci ora</a>

        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-csp.png" %}'>
        </div>
        <div class='prtn-box-price'>
          250  &euro;/anno
        </div>
        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>
        <div class='prtn-box-desc'>
        <p>
          Programma dedicato alle aziende che lavorano quotidianamente con il Free Software, con competenze approfondite, capaci di affrontare progetti complessi dallo sviluppo all'integrazione sistemistica.
        </p>
          
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
          <li>Disponibilita' utilizzo logo LPI CSP</li>
          <li>Profilo su LPI Italia Partner</li>
          <li>2 Location<br> 
             <small>(50€/anno per ogni location aggiuntiva)</small></li>
          <li>10 Tag di indicizzazione competenze <br>
            <small>(10€/anno per ogni competenza aggiuntiva)</small></li>
          <li>5 Referenze pubblicate 
            <small>(10€/UT per ogni referenza aggiuntiva)</small></li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul  class='prtn-box-req-list'>
          <li>Riconoscersi nel 
            <a href='http://www.lpi.org/partnerships/training-partners' target='_blank'>Codice Etico</a>
          </li>
          <li>Offrire consulenza o soluzioni realizzate con Software Libero</li>
          <li>Almeno 1 Certificato LPIC-1 (o superiore)</li>
        </ul>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp" class="button">Aderisci ora</a>
        </div>

      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider<br> GOLD</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-csp-gold.png" %}'>
        </div>
        <div class='prtn-box-price'>
          650  &euro;/anno
        </div>
        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>

        <div class='prtn-box-desc'>
          <p>
          Programma dedicato alle aziende che lavorano quotidianamente con il Free Software, con competenze approfondite, capaci di rispondere alle esigenze dei clienti più esigenti incluse grandi aziende
          e pubbliche amministrazioni.
          </p>
          <br>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI CSP-GOLD</li>
            <li>Profilo su LPI Italia Partner</li>
            <li>10 Location <br><small>(50€/anno per ogni location aggiuntiva)</small></li>
            <li>25 Tag di indicizzazione competenze <br>
              <small>(10€/anno per ogni competenza aggiuntiva)</small></li>
            <li>15 Referenze pubblicate <br>
              <small>(10€/UT per ogni referenza aggiuntiva)</small></li>
            <li>Comunicato Stampa con citazioni dei CEO</li>
            <li>4 Post sulla pagina FaceBook di LPI Italia</li>
            <li>2 articoli/anno nella  newsletter  di LPI Italia</li>
            <li>Presenza a SMAU Milano: distribuzione materiali e inviti VIP</li>
            <li>Accesso ai servizi di Assistenza tecnica H24 su tecnologie Software Libero*</li>
          </ul>
          <br />
          <h4>Requisiti</h4>
          <ul  class='prtn-box-req-list'>
            <li>Riconoscersi nel 
              <a href='http://www.lpi.org/partnerships/training-partners' target='_blank'>Codice Etico</a>
            </li>
            <li>Offrire consulenza o soluzioni realizzate con Software Libero</li>
            <li>Almeno 2 Certificati LPI, di cui almeno uno LPIC-2</li>
          </ul>
        </div>
        
        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp-gold" class="button">Aderisci ora</a>
        </div>
      </div>

    </li>

  </ul>



  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "personal-teacher" && show'>
  <section class='box-section'>
    <h1>Docenti</h1>
    <p>
    In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e prestare servizio come insegnati nei corsi LPI.<br />
    </p>
  </section>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-12 prtm-box-ct'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <div class='col-sm-6'>
          <h3>Certified Trainer</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-ct.png" %}'>
          </div>
          <div class='prtn-box-price'>
            50 &euro;/anno<br>
            IL PRIMO ANNO &Egrave; GRATUITO!
          </div>
          <div class='prtn-box-taxes'>
            IVA esclusa
          </div>

        </div>
        <div class='col-sm-6'>

          <div class='prtn-box-desc'>

          <p>
        LPI CP (Certified Trainer) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br><br>
        <b>L'accesso al database docenti certificati &egrave; riservato ai Partenr LPI.</b>

      </p>
          </div>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI</li>
            <li>Posizionamento nel portale LPI</li>
          </ul>
          <br />
          <h4>Requisiti</h4>
          <ul class='prtn-box-bonus-list'>
              <li>Fornitura servizi basati su Softaware Libero</li>
              <li>Almeno 1 collaboratore certificato Linux Essentials</li>
          </ul>

          </p>
        </div>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button pull-right">Aderisci ora</a>
        </div>
        
      </div>
    </li>
  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "test-center" && show'>
  <section class="box-section">
    <h1>Test center</h1>
    <p>
    In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e prestare servizio come insegnati nei corsi LPI.<br />
    </p>
  </section>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-2 '>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER<br>Linux Users Group (LUG)</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          250 &euro;<br>
          <small>5 esami</small>

        </div>
        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
            <li>Essere un LUG</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Aderisci ora</a>
        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-2 col-sm-offset-1'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          500 &euro;<br>
          <small>10 esami</small>

        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Aderisci ora</a>
        </div>
        
      </div>
    </li>

  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "training-company" && show'>
  <section class="box-section">
  <h1>Formazione per aziende</h1>
    <p>
    Il programma di partnership &egrave; dedicato alle aziende che intendono offrire Corsi Linux certificati LPI.<br />
    La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI ATP LE e LPI ATP PRO.
    </p>
  </section>
  
  <div class="row">

  <ul class='prtn-box-container prtn-atp'>
     <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner prtn-box-training' style='height:1050px'>
        <h3>Linux Essentials Approved Training Partner</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-atp-le.png" %}'>
        </div>
        <div class='prtn-box-price'>
        250  &euro;/anno
        </div>
        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>
        <div class='prtn-box-desc'>
          Indicato ad agenzie formative che lavorano con studenti e con un grande pubblico. Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata per chi si avvicina a Linux per iniziare una carriera professionale.
          <br><br>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Uso del logo ATP LE</li>
            <li>Profilo su LPI Italia Partner</li>
            <li>Possiblit&agrave; di svolgere esami LE in sede*</li>
            <li>Sconto sugli Esami LE</li>
            <li>Inclusa 1 Location (50&euro;/anno per location aggiuntive)</li>
            <li>Post sulla pagina Facebook di LPI Italia (max 4)</li>
          </ul>

          <h4>Requisiti</h4>
          <ul>
            <li>Riconoscersi nel 
              <a href='http://www.lpi.org/partnerships/training-partners' target='_blank'>Codice Etico</a>
            </li>
            <li>1 docente certificato LPI Linux Essentials</li>
            <li>1 Aula attrezzata con Linux (1 studente / 1 postazione)</li>
            <li>Connessione ad Internet</li>
            <li>Pagamento della partnership con carta di credito</li>
          </ul>
          * per svolgere esami LE in sede &egrave; necessario accreditarsi come Test Center LPI oppure essere accreditati come Test Center Pearson VUE
        </div>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp-le" 
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner prtn-box-training' style='height:1050px'>
        <h3>Linux Professionals Approved Training Partner</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-atp-pro.png" %}'>
        </div>
        <div class='prtn-box-price'>
          650  &euro;/anno
        </div>
        <div class='prtn-box-taxes'>
          IVA esclusa
        </div>
        <div class='prtn-box-desc'>
          Indicato per aziende, organizzazioni ed agenzie formative che intendono fornire corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono Linux Essentials e le certificazioni LPIC-1, LPIC-2 ed LPIC-3.
          <br> <br>
          <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
              <li>Uso del logo ATP</li>
              <li>Profilo su LPI Italia Partner</li>
              <li>Accesso alla banca dati di Docenti Certificati (LCT) di LPI Italia</li>
              <li>Possiblità di svolgere esami LE in sede*</li>
              <li>Incluse 2 Location</li>
              <li>Post sulla pagina Facebook di LPI Italia (max 4)</li>
              <li>Presenza Premium del corso Linux Essentials su piattaforma EMAGISTER</li>
              <li>2 articoli/anno nella  newsletter mensile di LPI Italia</li>
              <li>Presenza dei materiali ed inviti VIP a SMAU Milano</li>
              <li>Accesso ai servizi di Assistenza tecnica su tecnologie Software Libero**</li>
            </ul>
            
            <h4>Requisiti</h4>
            <ul>
              <li>Riconoscersi nel 
                <a href='http://www.lpi.org/partnerships/training-partners' target='_blank'>Codice Etico</a>
              </li>
              <li>1 docente certificato LPI Linux Essentials</li>
              <li>1 Aula attrezzata con Linux (1 studente / 1 postazione)</li>
              <li>Connessione ad Intenrnet</li>
            </ul>
            *per svolgere esami LPIC in sede è necessario essere accreditati come Test Center Pearson VUE<br>
            ** Il servizio di Assistenza Tecnica ai docenti sarà attivato successivamente
        </div>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp-pro"
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>
  </ul>
  <div>

  </div>
  </div>
</div>

<div data-bind='visible: type() == "training-academy" && show'>
  <section class="box-section">
    <h1>Formazione per scuole, universit&agrave;</h1>
    <p>
      Il programma di partnership per scuole ed universit&agrave; che intendono offrire formazione certificata LPI.<br/>
      La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI AAP LE e LPI AAP PRO.
    </p>
  </section>
  
  <div class="row">
    <ul class='prtn-box-container prtn-aap'>
      <li class='prtn-box col-sm-3'>
        <div class='prtn-box-inner' style='height:1290px'>
          <h3>Linux Essentials Academic<br> PARTNER</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le.png" %}'>
          </div>
          <div class='prtn-box-price'>
          250  &euro;/anno
          </div>
          <div class='prtn-box-taxes'>
            IVA esclusa
          </div>
          <div class='prtn-box-desc'>
            <p>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata studenti che intendono intraprendere una carriera professionale con Linux.
            </p>
            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Profilo su LPI Italia Partner</li>
                <li>Esame per certificare il docente gratuito*</li>
                <li>Sconto su esami LE</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>Accesso al materiale didattico (inglese) su piattaforma Cisco Netspace</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>1 Docente Linux ( da certificare entro il primo anno)</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
             <a href="http://lpi.wufoo.com/forms/q7x2w5/" onclick="window.open(this.href,  null, 'height=720, width=700, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"class="button ">Contattaci ora</a>
          </div>
        </div>
      </li>

      <li class='prtn-box col-sm-3'>
        <div class='prtn-box-inner' style='height:1290px'>
          <h3>Linux Professionals Academic <br>PARTNER</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-pro.png" %}'>
          </div>
          <div class='prtn-box-price'>
          250  &euro;/anno
          </div>
          <div class='prtn-box-taxes'>
            IVA esclusa
          </div>
          <div class='prtn-box-desc'>
            <p>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono, oltre a Linux Essentials, le certificazioni LPIC-1, LPIC-2 ed LPIC-3.
            </p>

            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP</li>
                <li>Profilo su LPI Italia Partner</li>
                <li>Sconto su tutti gli esami</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>Possibilit&agrave; svolgere esami PaperBased*</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>
          <div  class='prtn-box-button-cont'>
             <a href="http://lpi.wufoo.com/forms/q7x2w5/" onclick="window.open(this.href,  null, 'height=720, width=700, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"class="button ">Contattaci ora</a>
          </div>
        </div>
      </li>
      <li class='prtn-box col-sm-3'>
        <div class='prtn-box-inner' style='height:1290px'>
          <h3>Linux Essentials Academy<br>GOLD</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le-gold.png" %}'>
          </div>
          <div class='prtn-box-price'>
          650  &euro;/anno
          </div>
          <div class='prtn-box-taxes'>
            IVA esclusa
          </div>
          <div class='prtn-box-desc'>
            <p>
            Dedicato ai partner Linux Essentials che richiedono servizi aggiuntivi per l'avvio del corso.
            Servizi di supporto alla didattica formiti da ITHUM
            </p>
            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Sconto su esami LE</li>
                <li>Profilo su LPI Italia Partner</li>
                <li>Esame per certificare il docente gratuito*</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>Accesso al materiale didattico (inglese) su piattaforma Cisco Netspace</li>
                <li>Assistenza didattica telefonica ed email ai docenti</li>
                <li>Corso Fast Track</li>

            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>1 Aula informatica attrezzata</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
             <a href="http://lpi.wufoo.com/forms/q7x2w5/" onclick="window.open(this.href,  null, 'height=720, width=700, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"class="button ">Contattaci ora</a>
          </div>
        </div>
      </li>

      <li class='prtn-box col-sm-3'>
        <div class='prtn-box-inner' style='height:1290px'>
          <h3>Linux Essentials Academy<br>PLATINUM</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le-platinum.png" %}'>
          </div>
          <div class='prtn-box-price'>
          1.150  &euro;/anno
          </div>
          <div class='prtn-box-taxes'>
            IVA esclusa
          </div>
          <div class='prtn-box-desc'>
            <p>
            Dedicato ai partner Linux Essentials che richiedono servizi aggiuntivi per l'avvio del corso.
Servizi premium di supporto alla didattica formiti da ITHUM.
            </p>


            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Fast Start: 6 mesi per certificare il tuo docente</li>
                <li>Sconto su esami LE</li>
                <li>Profilo su LPI Italia Partner</li>
                <li>Assistenza tecnica telefonica/mail</li>
                <li>Corso Fast Track per docenti</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>10 Voucher per svolgere l'esame Linux Essentials Incluso*</li>
                <li>Materiale didattico per studenti</li>
                <li>Piattaforma E-Learning</li>
                <li>Eventi e seminari</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
             <a href="http://lpi.wufoo.com/forms/q7x2w5/" onclick="window.open(this.href,  null, 'height=720, width=700, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false"class="button ">Contattaci ora</a>
          </div>
        </div>
      </li>
    
    </ul>

    <div>
      * Alla conclusione del primo corso il docente potra' svolgere l'esame gratuitamente
    </div>
  </div>
</div>
