{% load static from staticfiles %}

<div data-bind='visible: type() == "service-company" && show'>
  <div class="row">
    <section class='box-section'>
      <h1>Servizi e Soluzioni</h1>
      <p>
      In questa sezione puoi trovare i nostri programmi di partnership dedicati alle aziende ed ai professionisti che erogano servizi in ambiente Linux ed Open Source.<br />
      Attraverso i programmi LPI SP (Solution Provider), LPI CSP (Certified Solution Provider) e LPI CSP (Certified Solution Provider) Gold puoi essere trovato da nuovi clienti in base ai servizi che offri ed alle tue effetive competenze.
      </p>
    </section>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Service Provider</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-sp.png" %}'>
        </div>
        <div class='prtn-box-price'>
          GRATUITO
        </div>

        <div class='prtn-box-desc'>

        <p>
        LPI SP (Service Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI SP</li>
            <li>Profilo su LPI Italia Partners</li>
            <li>1 Location</li>
            <li>3 Tag di indicizzazione competenze</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul>
            <li>Riconoscersi nel Codice Etico</li>
            <li>Offrire Consulenze, Servizi e/o Soluzioni con tecnologie FOSS</li>
        </ul>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-sp" class="button">Aderisci ora</a>

        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-csp.png" %}'>
        </div>
        <div class='prtn-box-price'>
          250  &euro;/anno
        </div>
        <div class='prtn-box-desc'>
        <p>
          LPI CSP (Certified Solution Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br />
        </p>
          
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
          <li>Disponibilita' utilizzo logo LPI CSP</li>
          <li>Profilo su LPI Italia Partners</li>
          <li>2 Location</li>
          <li>3 Tag di indicizzazione competenze</li>
          <li>3 Referenze pubblicate</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul>
          <li>Riconoscersi nel Codice Etico</li>
          <li>Offrire Consulenze, Servizi e/o Soluzioni con tecnologie FOSS</li>
        </ul>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp" class="button">Aderisci ora</a>
        </div>

      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider<br> GOLD</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-csp-gold.png" %}'>
        </div>
        <div class='prtn-box-price'>
          650  &euro;/anno
        </div>

        <div class='prtn-box-desc'>
          <p>
          LPI CSP (Certified Solution Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br />
          </p>
          <br>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI CSP-GOLD</li>
            <li>Profilo su LPI Italia Partners</li>
            <li>10 Location</li>
            <li>15 Tag di indicizzazione competenze</li>
            <li>15 Referenze pubblicate</li>
            <li>4 Post sulla pagina FaceBook di LPI Italia</li>
            <li>2 articoli/anno nella  newsletter  di LPI Italia</li>
            <li>Presenza a SMAU Milano: distribuzione materiali e inviti VIP</li>
            <li>Accesso ai servizi di Assistenza tecnica H24 su tecnologie FOSS*</li>
          </ul>
          <br />
          <h4>Requisiti</h4>
          <ul>
            <li>Riconoscersi nel Codice Etico</li>
            <li>Offrire Consulenze, Servizi e/o Soluzioni con tecnologie FOSS</li>
          </ul>
        </div>
        
        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp-gold" class="button">Aderisci ora</a>
        </div>
      </div>
    </li>

  </ul>

  <div style='clear:both'></div>


  </div>
</div>

<div data-bind='visible: type() == "personal-teacher" && show'>
  <div class="row">
  <h1>Docenti</h1>
  <p>
  In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e prestare servizio come insegnati nei corsi LPI.<br />
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-12 prtm-box-ct'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <div class='col-sm-6'>
          <h3>Certified Trainer</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-ct.png" %}'>
          </div>
          <div class='prtn-box-price'>
            50 &euro;/anno<br>
            IL PRIMO ANNO &Egrave; GRATUITO!
          </div>

        </div>
        <div class='col-sm-6'>

          <div class='prtn-box-desc'>

          <p>
        LPI CP (Certified Trainer) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br>
          </div>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI</li>
            <li>Posizionamento nel portale LPI</li>
          </ul>
          <br />
          <h4>Requisiti</h4>
          <ul class='prtn-box-bonus-list'>
              <li>Fornitura servizi FOSS</li>
              <li>Almeno 1 collaboratore certificato Linux Essentials</li>
          </ul>

          </p>
        </div>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button pull-right">Aderisci ora</a>
        </div>
        
      </div>
    </li>
  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "test-center" && show'>
  <div class="row">
  <h1>Test center</h1>
  <p>
  In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e <br>prestare servizio come insegnati nei corsi LPI.<br />
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-2 '>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER<br>Linux Users Group (LUG)</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          250 &euro;<br>
          <small>5 esami</small>

        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
            <li>Essere un LUG</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Aderisci ora</a>
        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-2 col-sm-offset-1'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          500 &euro;<br>
          <small>10 esami</small>

        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Aderisci ora</a>
        </div>
        
      </div>
    </li>

  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "training-company" && show'>
  <div class="row">               
  <h1>Formazione per aziende</h1>
  <p>
  Il programma di partnership &egrave; dedicato alle aziende che intendono offrire Corsi Linux certificati LPI.<br />
  La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI ATP LE e LPI ATP PRO.
  </p>
  </div>

  <div class="row">

  <ul class='prtn-box-container'>
     <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner prtn-box-training' style='height:1050px'>
        <h3>Linux Essentials Approved Training Partner</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-atp-le.png" %}'>
        </div>
        <div class='prtn-box-price'>
        250  &euro;/anno
        </div>
        <div class='prtn-box-desc'>
          Indicato ad agenzie formative che lavorano con studenti e con un grande pubblico. Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata per chi si avvicina a Linux per iniziare una carriera professionale.
          <br><br>
          <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Uso del logo ATP LE</li>
            <li>Profilo su LPI Italia Partners</li>
            <li>Possiblità di svolgere esami LE in sede*</li>
            <li>Sconto sugli Esami LE</li>
            <li>Inclusa 1 Location</li>
            <li>4 Post sulla pagina Facebook di LPI Italia</li>
            <li>Presenza Premium del corso Linux Essentials su piattaforma EMAGISTER</li>
          </ul>

          <h4>Requisiti</h4>
          <ul>
            <li>1 docente certificato LPI Linux Essentials</li>
            <li>1 Aula attrezzata con Linux (1 studente / 1 postazione)</li>
            <li>Connessione ad Intenrnet</li>
            <li>Riconoscersi nel Codice Etico</li>
          </ul>
        </div>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp" 
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-6'>
      <div class='prtn-box-inner prtn-box-training' style='height:1050px'>
        <h3>Linux Professionals Approved Training Partner</h3>
        <div class='prtn-box-icon'>
          <img src='{% static "lpi/lpi-atp-pro.png" %}'>
        </div>
        <div class='prtn-box-price'>
          650  &euro;/anno
        </div>
        <div class='prtn-box-desc'>
          Indicato per aziende, organizzazioni ed agenzie formative che intendono fornire corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono Linux Essentials e le certificazioni LPIC-1, LPIC-2 ed LPIC-3.
          <br> <br>
          <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
              <li>Uso del logo ATP</li>
              <li>Profilo su LPI Italia Partners</li>
              <li>Accesso alla banca dati di Docenti Certificati (LCT) di LPI Italia</li>
              <li>Possiblità di svolgere esami LE in sede*</li>
              <li>Incluse 2 Location</li>
              <li>4 Post sulla pagina Facebook di LPI Italia</li>
              <li>Presenza Premium del corso Linux Essentials su piattaforma EMAGISTER</li>
              <li>2 articoli/anno nella  newsletter mensile di LPI Italia</li>
              <li>Presenza a SMAU Milano: distribuzione materiali e inviti VIP</li>
              <li>Accesso ai servizi di Assistenza tecnica su tecnologie FOSS**</li>
            </ul>
            
            <h4>Requisiti</h4>
            <ul>
              <li>1 docente certificato LPI Linux Essentials</li>
              <li>1 Aula attrezzata con Linux (1 studente / 1 postazione)</li>
              <li>Connessione ad Intenrnet</li>
              <li>Riconoscersi nel Codice Etico</li>
            </ul>
        </div>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp-pro"
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>
  </ul>
  
  </div>
</div>

<div data-bind='visible: type() == "training-academy" && show'>
  <div class="row">
  <h1>Formazione per scuole, universit&agrave;</h1>
  <p>
  Il programma di partnership per scuole ed universit&agrave; che intendono offrire formazione certificata LPI.<br />
  La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI AAP LE e LPI AAP PRO.
  </p>
  </div>

  <h3>LPI Academic Partners</h3>

  <div class="row">
    <ul class='prtn-box-container'>
      <li class='prtn-box col-sm-6'>
        <div class='prtn-box-inner' style='height:800px'>
          <h3>Linux Essentials Academic<br> PARTNER</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le.png" %}'>
          </div>
          <div class='prtn-box-price'>
          250  &euro;/anno
          </div>
          <div class='prtn-box-desc'>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata studenti che intendono intraprendere una carriera professionale con Linux.
            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Profilo su LPI Italia Partners</li>
                <li>Sconto su esami LE</li>
                <li>Possibilit&agrave; svolgere esami*</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
            <a href="#signup/lpi-aap-le"
               class="button">Aderisci ora</a>
          </div>
        </div>
      </li>

      <li class='prtn-box col-sm-6'>
        <div class='prtn-box-inner' style='height:800px'>
          <h3>Linux Professionals Academic <br>PARTNER</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-pro.png" %}'>
          </div>
          <div class='prtn-box-price'>
          250  &euro;/anno
          </div>
          <div class='prtn-box-desc'>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono, oltre a Linux Essentials, le certificazioni LPIC-1, LPIC-2 ed LPIC-3.

            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP</li>
                <li>Profilo su LPI Italia Partners</li>
                <li>Sconto su tutti gli esami</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>Possibilit&agrave; svolgere esami PaperBased*</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>
          <div  class='prtn-box-button-cont'>
            <a href="#signup/lpi-aap-pro"
               class="button">Aderisci ora</a>
          </div>
        </div>
      </li>

  
    </ul>
  </div>
  <br>
  <h3>LPI Linux Essential Academies</h3>
  <div class="row" style='padding-top:30px'>
    <ul>
      <li class='prtn-box col-sm-6'>
        <div class='prtn-box-inner' style='height:950px'>
          <h3>Linux Essentials Academy<br>GOLD</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le-gold.png" %}'>
          </div>
          <div class='prtn-box-price'>
          650  &euro;/anno
          </div>
          <div class='prtn-box-desc'>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata studenti che intendono intraprendere una carriera professionale con Linux.
            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Fast Start: 6 mesi per certificare il tuo docente</li>
                <li>Sconto su esami LE</li>
                <li>Profilo su LPI Italia Partners</li>
                <li>Assistenza tecnica telefonica/mail</li>
                <li>Corso Fast Track per docenti</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>1 Voucher per svolgere l'esame Linux Essentials Incluso*</li>

            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
            <a href="#signup/lpi-aap-le-gold"
               class="button">Aderisci ora</a>
          </div>
        </div>
      </li>

      <li class='prtn-box col-sm-6'>
        <div class='prtn-box-inner' style='height:950px'>
          <h3>Linux Essentials Academy<br>PLATINUM</h3>
          <div class='prtn-box-icon'>
            <img src='{% static "lpi/lpi-aap-le-platinum.png" %}'>
          </div>
          <div class='prtn-box-price'>
          1.150  &euro;/anno
          </div>
          <div class='prtn-box-desc'>
            Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata studenti che intendono intraprendere una carriera professionale con Linux.
            <h4>Benefit</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Disponibilita' utilizzo logo LPI AAP LE</li>
                <li>Fast Start: 6 mesi per certificare il tuo docente</li>
                <li>Sconto su esami LE</li>
                <li>Profilo su LPI Italia Partners</li>
                <li>Assistenza tecnica telefonica/mail</li>
                <li>Corso Fast Track per docenti</li>
                <li>Possibilit&agrave; svolgere esami*</li>
                <li>10 Voucher per svolgere l'esame Linux Essentials Incluso*</li>
                <li>Materiale didattico per studenti</li>
                <li>Piattaforma E-Learning</li>
                <li>Eventi e seminari</li>
            </ul>
            <br />
            <h4>Requisiti</h4>
            <ul class='prtn-box-bonus-list'>
                <li>Almeno 1 docente certificato Linux Essentials</li>
                <li>1 Aula attrezzata con Linux (uno per studente)</li>
            </ul>

          </div>

          <div  class='prtn-box-button-cont'>
            <a href="#signup/lpi-aap-le-platinum"
               class="button">Aderisci ora</a>
          </div>
        </div>
      </li>
    
    </ul>
  </div>
</div>
