<div data-bind='visible: type() == "service-company" && show'>
  <div class="row">
    <section class='box-section'>
      <h1>Servizi e Soluzioni</h1>
      <p>
      In questa sezione puoi trovare i nostri programmi di partnership dedicati alle aziende ed ai professionisti che erogano servizi in ambiente Linux ed Open Source.<br />
      Attraverso i programmi LPI SP (Solution Provider), LPI CSP (Certified Solution Provider) e LPI CSP (Certified Solution Provider) Gold puoi essere trovato da nuovi clienti in base ai servizi che offri ed alle tue effetive competenze.
      </p>
    </section>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>LPI Service Provider</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          GRATUITO
        </div>

        <div class='prtn-box-desc'>

        <p>
        LPI SP (Service Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI</li>
            <li>Posizionamento nel portale LPI</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Fornitura servizi FOSS</li>
            <li>Almeno 1 collaboratore certificato Linux Essentials</li>
        </ul>

        </p>
        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-sp" class="button">Acquista</a>

        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          250  &euro;
        </div>
        <div class='prtn-box-desc'>
          <p>
          LPI CSP (Certified Solution Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br />
          </p>
          
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
          <li>Certificazione LPIC-1</li>
          <li>Disponibilita' utilizzo logo LPI</li>
          <li>Posizionamento nel portale LPI</li>
          <li>Banner su lpi-italia.org</li>
          <li>Accesso database docenti LCT</li>
          <li>Referenze clienti certificate</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
           <li>Fornitura di servizi FOSS</li>
           <li>Almeno 2 collaboratori certificati LPIC-1</li>
           <li>Almeno 1 referenza cliente attiva</li>
        </ul>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp" class="button">Acquista</a>
          
        </div>

      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-3'>
      <div class='prtn-box-inner prtn-box-services'>
        <h3>Certified Service Provider<br> GOLD</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          850  &euro;
        </div>

        <div class='prtn-box-desc'>
          <p>
          LPI CSP (Certified Solution Provider) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br />
          </p>
        </div>
        <h4>Benefit</h4>
          <ul class='prtn-box-bonus-list'>
            <li>Certificazione LPIC-2</li>
            <li>Disponibilita' utilizzo logo LPI</li>
            <li>Posizionamento nel portale LPI</li>
            <li>Banner su lpi-italia.org</li>
            <li>Accesso database docenti LCT</li>
            <li>Referenze clienti certificate</li>
            <li>SEO Friendly Partner Page</li>
            <li>Premium Presence nel Training Portal</li>
            <li>Tracker and CRM Services</li>
            <li>Top Search Result</li>
          </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
          <li>Fornitura servizi FOSS</li>
          <li>Almeno 3 collaboratori certificati LPIC-1</li>
          <li>Almeno 1 collaboratore certificato LPIC-2</li>
          <li>Almeno 2 referenze clienti attive</li>
        </ul>
<br />
        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-csp-gold" class="button">Acquista</a>
        </div>
      </div>
    </li>

  </ul>

  <div style='clear:both'></div>


  </div>
</div>

<div data-bind='visible: type() == "personal-teacher" && show'>
  <div class="row">
  <h1>Docenti</h1>
  <p>
  In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e <br>prestare servizio come insegnati nei corsi LPI.<br />
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-1 col-sm-offset-3'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>LPI CT</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          PRIMO ANNO GRATUITO + 50 &euro; annui
        </div>

        <div class='prtn-box-desc'>

        <p>
        LPI CP (Certified Trainer) &egrave; il programma di partnership che ti permette di mostrare i servizi offerti legati a Linux e all'Open Source (es: installazione e configurazione CMS, amministrazione di sistema Linux, sviluppo e personalizzazione software).<br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Disponibilita' utilizzo logo LPI</li>
            <li>Posizionamento nel portale LPI</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Fornitura servizi FOSS</li>
            <li>Almeno 1 collaboratore certificato Linux Essentials</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Acquista</a>
        </div>
        
      </div>
    </li>
  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "test-center" && show'>
  <div class="row">
  <h1>Test center</h1>
  <p>
  In questa sezione puoi trovare i nostri programmi di partnership dedicati al ai professionisti che intendo certificarsi LPI e <br>prestare servizio come insegnati nei corsi LPI.<br />
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-3 prtn-box-2 '>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER<br>Linux Users Group (LUG)</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          250 &euro;<br>
          <small>5 esami</small>

        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
            <li>Essere un LUG</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Acquista</a>
        </div>
        
      </div>
    </li>

    <li class='prtn-box col-sm-3 prtn-box-2 col-sm-offset-1'>
      <div class='prtn-box-inner prtn-box-teachers'>
        <h3>TEST CENTER</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          500 &euro;<br>
          <small>10 esami</small>

        </div>

        <div class='prtn-box-desc'>

        <p>
        Diventare Test Center ufficiale per LPI ti permette di ospitare nella tua sede esami LPIC.
        <br>
        </div>
        <h4>Benefit</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Sede d'esame LPIC</li>
        </ul>
        <br />
        <h4>Requisiti</h4>
        <ul class='prtn-box-bonus-list'>
            <li>Almeno 1 collaboratore certificato LPIC</li>
        </ul>

        </p>

        <div class='prtn-box-button-cont'>
          <a href="#signup/lpi-ct" class="button">Acquista</a>
        </div>
        
      </div>
    </li>

  </ul>

  <div style='clear:both'></div>

  </div>
</div>

<div data-bind='visible: type() == "training-company" && show'>
  <div class="row">               
  <h1>Formazione per aziende</h1>
  <p>
  Il programma di partnership &egrave; dedicato alle aziende che intendono offrire formazione certificata LPI.<br />
  La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI ATP LE e LPI ATP PRO.
  </p>
  </div>

  <div class="row">

  <ul class='prtn-box-container'>
     <li class='prtn-box col-sm-5'>
      <div class='prtn-box-inner prtn-box-training'>
        <h3>LPI ATP LE</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
        200  &euro;
        </div>
        <div class='prtn-box-desc'>
        Indicato ad agenzie formative che lavorano con studenti e con un grande pubblico. Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata per chi si avvicina a Linux per iniziare una carriera professionale.
        </div>

        <ul class='prtn-box-bonus-list'>
          <li>Accettare il Codice Etico LPI</li>
          <li>Approvazione del materiale didattico</li>
          <li>LPI potr&agrave; accedere locali, documentazione e il materiale didattico per occasionali visite di controllo qualit&agrave;.</li>
          <li>Approvazione del materiale promozionale incluso il sito web dell’organizzazione.</li>
          <li>Pagamento quota annuale</li>
            </ul>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp" 
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-5 col-sm-offset-1'>
      <div class='prtn-box-inner prtn-box-training'>
        <h3>LPI ATP PRO</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
          650  &euro;
        </div>
        <div class='prtn-box-desc'>
        Indicato per aziende, organizzazioni ed agenzie formative che intendono fornire corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono Linux Essentials e le certificazioni LPIC-1, LPIC-2 ed LPIC-3.
        </div>

        <ul class='prtn-box-bonus-list'>
          <li>Accettare il Codice Etico LPI</li>
          <li>Approvazione del materiale didattico</li>
          <li>LPI potr&agrave; accedere locali, documentazione e il materiale didattico per occasionali visite di controllo qualit&agrave;.</li>
          <li>Approvazione del materiale promozionale incluso il sito web dell’organizzazione.</li>
          <li>Pagamento quota annuale</li>
        </ul>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-atp-pro"
             class="button ">Aderisci ora</a>
        </div>
      </div>
    </li>
  </ul>
  
  </div>
</div>

<div data-bind='visible: type() == "training-academy" && show'>
  <div class="row">
  <h1>Formazione per scuole, universit&agrave; e associazioni</h1>
  <p>
  Il programma di partnership per scuole ed universit&agrave; che intendono offrire formazione certificata LPI.<br />
  La suddivisione avviene per il grado di certificazione che è possibile insegnare, LPI AAP LE e LPI AAP PRO.
  </p>
  </div>

  <div class="row">
  <ul class='prtn-box-container'>
    <li class='prtn-box col-sm-5'>
      <div class='prtn-box-inner'>
        <h3>LPI AAP LE</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
        250  &euro;
        </div>
        <div class='prtn-box-desc'>
        Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione dedicati a Linux Essentials, la certificazione indicata studenti che intendono intraprendere una carriera professionale con Linux.
        </div>

        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-aap"
             class="button">Aderisci ora</a>
        </div>
      </div>
    </li>

    <li class='prtn-box col-sm-5 col-sm-offset-1'>
      <div class='prtn-box-inner'>
        <h3>LPI AAP PRO</h3>
        <div class='prtn-box-icon'></div>
        <div class='prtn-box-price'>
        250  &euro;
        </div>
        <div class='prtn-box-desc'>
        Attraverso questo programma il partner pu&ograve; organizzare corsi di certificazione professionale su Linux. I corsi che possono essere erogati comprendono, oltre a Linux Essentials, le certificazioni LPIC-1, LPIC-2 ed LPIC-3.
        </div>
        <div  class='prtn-box-button-cont'>
          <a href="#signup/lpi-aap"
             class="button">Aderisci ora</a>
        </div>
      </div>
    </li>
  </ul>
  
  </div>
</div>