{% load static from staticfiles %}

<h1>
  Registrati
  
</h1>
<br>
<form action='' class='signup-form'>
  
  <div class='col-sm-6'>
    <section data-bind='visible:!lpi.is_logged()'>
      <h3 data-bind='visible: check_family("atp,aap")'>Nome della scuola</h3>
      <h3 data-bind='visible: check_family("sp")'>Nome dell'azienda</h3>
      <div class="input-group">
        <span class="input-group-addon">
          <span class='glyphicon glyphicon-envelope'></span>
        </span>
        <input type='text' class='form-control' data-bind='value: company_name'
               placeholder='Nome scuola'>
      </div>
      <h3>I tuoi dati di accesso</h3>
      <div class="input-group">
        <span class="input-group-addon">
          <span class='glyphicon glyphicon-envelope'></span>
        </span>
        <input type='text' class='form-control' data-bind='value: mail'
               placeholder='La tua email'>
      </div>

      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <input type='password' class='form-control' data-bind='value: password'
               placeholder='Scegli una password'><br>
      </div>

      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-asterisk"></span>
        </span>          
        <input type='password' class='form-control' data-bind='value: confirm_password'
               placeholder='Conferma password'><br>
      </div>
    </section>

    <section data-bind='visible:lpi.is_logged()'>
      <h3>Scegli il contatto</h3>
      <div data-bind='foreach: companies()'>
        <input type='radio' name='company' data-bind='attr: {value: company}'></input>
        <label data-bind='attr:{for: company}, text: company_name'></label>
                                       <br>
      </div>
      <input type='radio' name='company' value='-2' checked>
      </input>
      <label data-bind='click: function() { set_company(-2)}' for='company'>
         Nuovo contatto</label><br>
    </section>

    <div class="checkbox">
      <label>
        <input data-bind='checked: tos_accepted' type="checkbox"> 
          Ho letto e accetto i 
          <a href='http://nuovo.lpi-italia.org/termini-di-servizio'>Termini di Servizio</a>.
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input data-bind='checked: privacy_accepted' type="checkbox"> 
          Ho letto e accetto l'informativa sulla 
          <a href='http://nuovo.lpi-italia.org/privacy'>Privacy</a>.
      </label>
    </div>
    
    
    <br><br>
    
    <section data-bind='visible: !lpi.is_logged()'>
      <a class='button' data-bind='click: register'>Registrati</a>

      <a style='padding-left:20px' data-bind='attr: {href: "#login/" + handle()}'>
        Gia' registrato? 
      </a>
    </section>

    <section data-bind='visible: lpi.is_logged()'>
      <a class='button' data-bind='click: attach'>Aderisci</a>
    </section>
  </div>

  <div class="col-sm-6" data-bind='visible: error_message'>
    <h3>Errore</h3>
    <div class='alert alert-danger' 
           data-bind='html: error_message'>
    </div>
  </div>
</form>