<h1>Docenti</h1>
<p>
 Se sei un professionista certificato Linux Essentials, LPIC-1, LPIC-2 o LPIC-3, puoi aderire al nostro programma di partnership per docenti. Attraverso questo programma puoi collaborare attivamente con i nostri partner per la formazione ATP LE, ATP LE, AAP PRO e ATP PRO.<br />
 Per erogare un corso certificato i partner hanno l'obbligo di impiegare un docente certificato di livello pari o superiore al corso che intendono organizzare, un'occasione unica per trovare nuove opportunit&agrave; lavorative!
</p>