<h1>Formazione</h1>
<p>
In questa sezione puoi trovare Aziende ed Agenzie formative in grado di erogare corsi certificati LPI: Linux Essentials, LPIC-1, LPIC-2 ed LPIC-3.<br />
La certificazione professionale LPI &egrave; indice di garanzia e competenza nei confronti di clienti e datori di lavoro.<br />
<b>Cerca adesso la sede più vicina a casa tua!</b>
</p>

<div class='list-filters'>
  <fieldset data-bind='visible: cities().length > 0'>
    <h3>Citt&agrave;</h3>
    <ul data-bind='foreach: cities'>
      <li data-bind='text: $data, click: function() { $parent.filter($data); },
                     css: {active:$parent.tag_is_active($data)}'></li>

    </ul>
  </fieldset>

  <fieldset data-bind='visible: tags().length > 0'>
    <h3>Competenze</h3>
    <ul data-bind='foreach: tags'>
      <li data-bind='text: $data, click: function() { $parent.filter($data); },
                     css: {active:$parent.tag_is_active($data)}'></li>

    </ul>
  </fieldset>
</div>

<div id='trainers-isotope' class='isotope' data-bind="foreach: trainers">
   <div class='item' data-bind='visible: visible()'>
      <img style='max-height:100px;display:none' data-bind='attr: {src: image_url}'>
      <a data-bind='text: first_name, attr:{href: "#info/" + id}'></a>
      <span data-bind='text: "(" + city + ")"'>
         
      </span>
   </div>
</div>